<style>
  @media screen and (max-width: 640px) {
    .banner-contact {
      background-image: url('{{ 'bannerblogsm.png' |asset_url }}');
    }
  }
</style>
<div class="main ">
  <div style="background-image: url('{{ 'Banniere-contact-Bahwai.webp' |asset_url }}');" class="banner-contact img-center sm:h-[25rem] h-[17rem]"></div>
  <style>
    @media screen and (max-width: 641px) {
      .wave-index {
        background-image: url('{{ 'Vague-Mobile.svg' |asset_url }}');
      }
    }
    @media screen and (min-width: 641px) {
      .wave-index {
        background-image: url('{{ 'Vague-desktop.svg' |asset_url }}');
      }
    }
  </style>
  <div class="wave-index sm:mt-[-25px] mt-[-26px] img-center bg-no-repeat h-[27px] w-full"></div>
  <!-- contenu -->
  <section class="py-20 -mt-16 sm:px-4 desktop-width" id="smaForm">
    <div class="flex flex-col justify-center items-center gap-2 mt-4 px-4">
      <h5 class="title">Besoin de nous parler ?</h5>
      <p class="text-_main_color_dark text-center">
        Comment est-ce qu’on peut t’aider ? On est prêt à écouter toutes tes questions, tes idées pour des nouveaux produits ou des nouvelles saveurs démentielles, ou même tes meilleures blagues. Ouais, on adore les blagues !
        Pour ça, il suffit que tu cliques juste ici 👇

      </p>

      <a
        href="#"
        id="btn-contact"
        class="btn mt-8 px-10 py-2 text-white">Contactez nous</a>

      <p class="text-_main_color_dark text-center mt-8 px-4">
        Si tu es plutôt contact direct, pas de souci. Tu peux nous joindre directement sur what’s app en cliquant ici 👉
        <a href="https://wa.me/33630139872" class="underline">Service Client</a>. On est dispo du lundi au vendredi, de 9h à 18h. Mais attends, ne nous spam pas, hein !
      </p>
    </div>
    <div id="form-contact" class="form-contact hidden mt-8 mx-4 desktop-width">
      {% form 'contact', class: "sm:max-w-[40rem] max-w-[100%] mx-auto w-full flex flex-col items-center gap-6" %}
        {{ form.errors | default_errors }}
        <div class="flex justify-end mb-8 w-full">
          <p id="close-form-contact" class="text-end font-bold hover:cursor-pointer border-b-2 border-_main_color_dark">
            <i class="fas fa-xmark text-[1.5rem]"></i>
            <span>Fermer</span>
          </p>
        </div>

        <div class="flex gap-4 flex-wrap sm:flex-nowrap w-full">
          <div class="item w-full">
            <input
              class="input focus:border-_orange_color transition-all duration-300"
              type="text"
              placeholder="Nom*"
              name="contact[nom]"
              required>
          </div>
          <div class="item w-full">
            <input
              class="input focus:border-_orange_color transition-all duration-300"
              type="text"
              placeholder="Prénom*"
              name="contact[prenom]"
              required>
          </div>
        </div>
        <div class="flex gap-4 flex-wrap sm:flex-nowrap w-full">
          <div class="item w-full">
            <input
              class="input focus:border-_orange_color transition-all duration-300"
              type="email"
              placeholder="Adresse mail*"
              name="contact[email]"
              required>
          </div>
          <div class="item w-full">
            <input
              id="input-tel-contact"
              class="input focus:border-_orange_color transition-all duration-300"
              type="tel"
              placeholder="Numéro de téléphone*"
              pattern="[0-9]{10}"
              name="contact[tel]"
              required>
          </div>
        </div>
        <div class="flex flex-wrap sm:flex-nowrap gap-4 w-full">
          <div class="item w-full">
            <input
              class="input focus:border-_orange_color transition-all duration-300"
              type="text"
              placeholder="Numéro de commande"
              name="contact[numero_commande]">
          </div>
          <div class="item w-full">
            <div class="item">
              <div class="accordions">
                <button
                  type="button"
                  id="btn-accordion"
                  class="rounded-[5px] px-3 ps-2 h-10 w-[20rem] border border-gray-500 flex justify-between items-center">
                  <span id="layout">Choisissez un sujet
                  </span>
                  <i class="fa-sharp fa-solid fa-chevron-down"></i>
                </button>
                <div class="panel panel-selected hidden" id="panel-partenaire">
                  <ul>
                    <li class="sujet_contact" data-value="Colis toujours pas reçu">Colis toujours pas reçu</li>
                    <li class="sujet_contact" data-value="Proposition de partenariat">Proposition de partenariat</li>
                    <li class="sujet_contact" data-value="Remarques ou Suggestions">Remarques ou Suggestions</li>
                    <li class="sujet_contact" data-value="Autre">Autre</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="item w-full mt-8">
          <textarea
            required
            class="border rounded-[5px] border-gray-500 w-full -mt-4 ps-4"
            name="contact[body]"
            id=""
            rows="10"
            placeholder="Dites nous tout !  "></textarea>
        </div>
        <div class="flex flex-col items-center">
          <button
            id="btn-partenaire"
            type="submit"
            class="btn mb-4 py-2 px-[5rem] text-white">Envoyer</button>
        </div>

        <input
          type="hidden"
          name="contact[objet]"
          value=""
          id="sujetFormContact">
      {% endform %}
      <p class="mt-4 text-center">En poursuivant, vous acceptez toutes les conditions générales d’utilisations et notre politique de confidentialité</p>
    </div>
    <!-- notification -->
    <style>
      .bg-notif {
        background-image: url('{{ 'Orange.png' |asset_url }}');
      }
    </style>
    <div id="notif-partenaire" class="hidden fixed top-[14rem] w-full">
      <div class="bg-notif img-center rounded-md p-4 sm:mx-[8rem] mx-4">
        <div class="flex justify-end mb-8">
          <p id="close-notif-partenaire" class="text-end font-bold hover:cursor-pointer border-b-2 border-_main_color_dark">
            <i class="fas fa-xmark text-[1.5rem]"></i>
            <span>Fermer</span>
          </p>
        </div>


        <p class="text-white">Super, nous avons bien pris en compte ta demande, on revient vers toi dans les 48h ! (le temps de prendre un café, sortir le chien…) <br><br>
          Cordialement
        </p>
        <h2 class="text-white font-bold text-lg">Bahwai family</h2>
      </div>
    </div>
  </section>

  <style>
    @media screen and (max-width: 640px) {
      .contact-partenaire {
        background-image: url('{{ 'Orange-Curvysm.png' |asset_url }}');
      }
    }
  </style>
  <section style="background-image: url('{{ 'DS_Orange-Curvy.png' |asset_url }}');" class="contact-partenaire relative z-50 h-[20rem] sm:h-[27rem] xl:h-[40rem]  text-white flex flex-col justify-center items-center gap-6 img-center py-8">
    <h2 class="title !text-white">Devenir partenaire ?
    </h2>
    <p class="text-center">Envie de rejoindre l’aventure Bahwai ? Remplissez le formulaire !</p>
    <a href="{{ pages.partenaire.url }}" class="btn px-20 py-2">S'inscrire</a>
  </section>

  <!-- faq -->
  {% render 'bh-faq' %}


</div>