<style>
  .img-packs {
    background-image: url('{{ 'DSpack.webp' | asset_url}}');
  }

  .img-snack-sucre {
    background-image: url('{{ 'DSsnack-sucre.webp' | asset_url }}');
  }

  .img-snack-saler {
    background-image: url('{{ 'DSsnack-saler.webp' | asset_url}}');
  }

  .img-boissons {
    background-image: url('{{ 'DSboissons.webp' | asset_url}}');
  }

  @media screen and (max-width: 641) {
    .img-packs {
      background-image: url('{{ ' packs.png' | asset_url}}');
    }
  }

  @media screen and (max-width: 641) {
    .img-snack-sucre {
      background-image: url('{{ 'snack-sucre.png' | asset_url}}');
    }
  }

  @media screen and (max-width: 641) {
    .img-snack-saler {
      background-image: url('{{ 'snack-saler.png' | asset_url}}');
    }
  }

  @media screen and (max-width: 641) {
    .img-boissons {
      background-image: url('{{ 'boissons.png' | asset_url}}');
    }
  }
</style>
<section class="categories text-white my-12 sm:mx-[7rem] mx-3 desktop-width">
  <h2 class="title text-center text-_main_color_light mb-4">Nos catégories</h2>
  <div class="categories-items flex sm:gap-4 gap-2 sm:h-auto h-[20rem]">
    <div class="cat-item flex flex-col sm:gap-4 gap-2 w-full">
      <div
        class="img-boissons h-[250px] img-center flex justify-center items-center">
        <h2 class="sm:text-[24px] font-bold">
          <button type="button" class="text-white">Boissons</button>
        </h2>
      </div>
      <div class="img-packs h-[250px] img-center flex justify-center items-center">
        <div class="img flex items-center flex-col gap-2 ">
          <h2 class="sm:text-[24px] font-bold">Packs</h2>
          <span role="button" class="btn-cat sm:px-8 sm:py-2 p-[5px]">Arrive bientôt !</span>
        </div>
      </div>
    </div>
    <div class="cat-item flex flex-col sm:gap-4 gap-2 w-full">
      <div class="img-snack-sucre h-full w-full img-center flex flex-col gap-4 justify-center items-center">
        <h2 class="sm:text-[24px] font-bold text-center">Snack sucré</h2>
        <span role="button" class="btn-cat sm:px-8 sm:py-2 p-[5px]">Arrive bientôt !</span>
      </div>
    </div>
  </div>
  <div style="background-image: url('{{ 'snack-saler.png' | asset_url}}');"
    class="cat-item h-[10rem] sm:h-[208px] img-center sm:mt-4 mt-2 flex justify-center items-center">
    <div class="img-snack-saler flex items-center flex-col gap-2 ">
      <h2 class="sm:text-[24px] font-bold">Snack salé</h2>
      <span role="button" class="btn-cat sm:px-8 sm:py-2 p-[5px]">Arrive bientôt !</span>
    </div>
  </div>
</section>