<footer class="mt-20">
  <style>
    .bg-violet {
      background-image: url('{{ 'Violet-Footer.png' |asset_url }}');
    }
  </style>
  <section style="background-image: url('{{ 'Violet-Footer.png' |asset_url}}');" class="bg-violet img-center pt-20 pb-8 -mt-16 sm:px-4">
    <div class="desktop-width">
      <div id="logo-footer" class="logo flex justify-center sm:max-w-[20rem] w-full mb-5">
        <a href="/"><img src="{{'icon bahwai.svg' | asset_url}}" alt=""></a>
      </div>
      <div id="items-footer" class="items text-white md:flex justify-around flex-wrap gap-6 hidden">
        <div class="item flex flex-col gap-4 items-center">
          <p class="text-_orange_color">Voyager en une bouchée, Bahwai ?</p>
          <div class="flex items-center gap-4 justify-center">
            <a href="https://www.facebook.com"><img src="{{'facebook-center-square.svg ' | asset_url}}" alt="facebook"></a>
            <a href="https://www.instagram.com"><img src="{{'Instagram.svg ' | asset_url}}" alt="instagram"></a>
            <a href="https://www.tiktok.com"><img src="{{'tiktok-square.svg ' | asset_url}}" alt="tiktok"></a>
          </div>
          <p class="text-white">Développé avec ❤️ par Linnovlab
          </p>
        </div>
        <div class="item">
          <h4 class="font-bold border-b-2 border-gray-400  mb-4">Contact</h4>
          <ul>
            <li><a href="{{ pages.contact.url }}">Nous contacter</a></li>
            <li><a href="{{ pages.partenaire.url }}">Devenir partenaire</a></li>
          </ul>
        </div>
        <div class="item">
          <h4 class="font-bold border-b-2 border-gray-400  mb-4">En savoir plus</h4>
          <ul>
            <li><a href="{{ pages.engagements.url }}">Nos engagements</a></li>
            <li><a href="#">Ils parlent de nous</a></li>
          </ul>
        </div>
        <div class="item">
          <h4 class="font-bold border-b-2 border-gray-400  mb-4">Pour les curieux</h4>
          <ul>
            <li><a href="#">Une question ?</a></li>
            <li><a href="#">Politique d’expédition</a></li>
            <li><a href="#">Charte de confidentialité</a></li>
            <li><a href="#">Cond. Générale de Vente</a></li>
            <li><a href="#">Mentions légales</a></li>
          </ul>
        </div>
        <div class="item">
          <h4 class="font-bold border-b-2 border-gray-400 mb-4">Moyens de paiement acceptés</h4>
          <div class="imgs flex items-center gap-4">
            <a href="#"><img
                src="{{'martercard.png' | asset_url}}"
                alt="martercard"
                title="martercard"></a>
            <a href="#"><img
                src="{{'visa.png' | asset_url}}"
                alt="visa"
                title="visa"></a>
            <a href="#"><img
                src="{{'paypal.png' | asset_url}}"
                alt="paypal"
                title="paypal"></a>
          </div>
        </div>
      </div>
    </div>
    <!-- footer mobile -->
    <div class="footer-mobile md:hidden">
      <div class="flex flex-col gap-4 items-center">
        <p class="text-_orange_color">Voyager en une bouchée, Bahwai ?</p>
        <div class="flex items-center gap-4 justify-center">
          <a href="https://www.facebook.com"><img src="{{'facebook-center-square.svg ' | asset_url}}" alt="facebook"></a>
          <a href="https://www.instagram.com"><img src="{{'Instagram.svg ' | asset_url}}" alt="instagram"></a>
          <a href="https://www.tiktok.com"><img src="{{'tiktok-square.svg ' | asset_url}}" alt="tiktok"></a>
        </div>
      </div>
      <div class="accordions text-white">
        <div class="accordion-item border-b-2 border-gray-400  w-full mx-auto mt-2 mb-4">
          <button
            type="button"
            id="btn-accordion"
            class="px-4 font-bold flex justify-between w-full">
            <span>Contact
            </span>
            <i class="fas fa-chevron-down transition-transform duration-500 me-2"></i>
          </button>
          <div class="panel hidden mb-4">
            <ul class="ps-4">
              <li>
                <a href="./nous contacter.html">Nous contacter</a>
              </li>
              <li>
                <a href="./devenir partenaire.html">Devenir partenaire</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="accordion-item border-b-2 border-gray-400  w-full mx-auto mt-2 mb-4">
          <button
            type="button"
            id="btn-accordion"
            class="px-4 font-bold flex justify-between w-full">
            <span>En savoir plus</span>
            <i class="fas fa-chevron-down transition-transform duration-500 me-2"></i>
          </button>
          <div class="panel hidden mb-4">
            <ul class="ps-4">
              <li>
                <a href="./nos engagements.html">Nos engagements</a>
              </li>
              <li>
                <a href="#">Ils parlent de nous</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="accordion-item border-b-2 border-gray-400  w-full mx-auto mt-2 mb-4">
          <button
            type="button"
            id="btn-accordion"
            class="px-4 font-bold flex justify-between w-full">
            <span>Pour les curieux</span>
            <i class="fas fa-chevron-down transition-transform duration-500 me-2"></i>
          </button>
          <div class="panel hidden mb-4">
            <ul class="ps-4">
              <li>
                <a href="#">Une question ?
                </a>
              </li>
              <li>
                <a href="#">Politique d’expédition</a>
              </li>
              <li>
                <a href="#">Charte de confidentialité</a>
              </li>
              <li>
                <a href="#">Cond. Générale de Vente</a>
              </li>
              <li>
                <a href="#">Mentions légales</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="accordion-item border-b-2 border-gray-400  w-full mx-auto mt-2 mb-4">
          <button
            type="button"
            id="btn-accordion"
            class="px-4 font-bold flex justify-between w-full">
            <span>Moyens de paiement acceptés</span>
            <i class="fas fa-chevron-down transition-transform duration-500 me-2"></i>
          </button>
          <div class="panel hidden my-4">
            <div class="imgs flex items-center gap-4 ps-4">
              <a href="#" target="_blank"><img
                  src="{{'martercard.png' | asset_url}}"
                  alt="martercard"
                  title="martercard"></a>
              <a href="#" target="_blank"><img
                  src="{{'visa.png' | asset_url}}"
                  alt="visa"
                  title="visa"></a>
              <a href="#" target="_blank"><img
                  src="{{'paypal.png' | asset_url}}"
                  alt="paypal"
                  title="paypal"></a>
            </div>
          </div>
        </div>
      </div>
      <p class="mt-8 text-center text-white">Développé avec ❤️ par Linnovlab</p>
    </div>
  </section>
</footer>