<p class="h-[61px] w-[61px] me-3 me-8 hidden"></p>
<div class="panier fixed top-0 w-full hidden z-50" id="panier">
  <div class="content sm:max-w-[455px] w-full ms-auto me-0 bg-white max-h-screen h-full overflow-x-hidden overflow-y-scroll hide-scrolbar-y">
    <div class="flex justify-end w-full mx-auto px-4 pt-6 pb-4">
      <p id="close-panier" class="flex items-center font-medium text-_main_color_dark hover:cursor-pointer">
        <i class="fas fa-xmark text-[18px] me-2"></i>
        <span class="text-sm">Fermer</span>
      </p>
    </div>
    <hr class="border-[#999999]">
    <div class="items text-_main_color_dark">
      <h2 class="font-medium my-4 px-5">Vous avez ajouté :</h2>
      <div id="panier-items-container">{% comment %} items content {% endcomment %}
      </div>
      <div id="payment-div" class="mt-4">
        <hr class="border-[#999999] mt-8">
        <div class="total flex justify-between items-center px-5 mt-4">
          <div>
            <p class="font-medium">Sous-total</p>
            <p class="text-[#999999]">
              <span id="qty-items-panier">1</span>
              article dans votre parnier</p>
          </div>
          <p id="total-price-panier" class="font-medium">2,10 €</p>
        </div>
        <div class="flex flex-col items-center justify-center mt-8">
          <form
            action="{{ routes.cart_url }}"
            method="post"
            class="sm:w-[344px] w-[90%]">
            <button
              id="btn-paiement"
              type="submit"
              name="checkout"
              class="h-[44px] w-full btn-red-panier">Procéder au paiement</button>
          </form>
          <div class="sm:w-[344px] w-[90%]">
            <button id="btn-continuer" class="h-[44px] w-full btn-white-panier">Continuer mes achats</button>
          </div>
        </div>
      </div>

    </div>

    <div class="footer text-_main_color_dark px-2 my-8">
      <p class="font-medium text-_main_color_dark mt-3 ps-5">D’autres ont aussi achetés :</p>
      <div class="items flex gap-6 mt-5 justify-around">
        {%- for product in collections['suggestions-panier'].products -%}
          {% comment %} getting rating value {% endcomment %}
          {%- assign rates = product.metafields.reviews.rating.value | split: '.' -%}
          {%- assign n = rates | first | plus: 0 -%}

          <div class="item">
            <a href="{{ product.url }}" class="item text-[12px] max-w-[120px] w-full m-1 flex items-center flex-col gap-1">
              <div class="img w-full">
                <img
                  src="{{ product |image_url: width: 600, height: 600 }}"
                  alt="La gourmande aux noisettes"
                  class="w-full">
              </div>
              <p class="font-semibold text-center ">{{ product.title }}</p>
              {% if product.metafields.reviews.rating_count != null %}
                <div class="avis flex items-center gap-2 h-[1.1rem] mb-2">
                  <div class="stars flex text-black text-sm">

                    {%- for i in (1..5) -%}
                      {%- if i <= n -%}
                        <i class="fas fa-star"></i>
                      {%- else -%}
                        <i class="fa-regular fa-star"></i>
                      {%- endif -%}
                    {%- endfor -%}

                  </div>
                  <span class="border-_main_color_dark border-b-2 text-[10px] mb-2">
                    {% if product.metafields.reviews.rating_count == null %}
                      Soyez le 1er à noter!
                    {% else %}
                      {{ product.metafields.reviews.rating_count }} avis
                    {% endif %}
                  </span>
                </div>
              {%- endif -%}
              <p class="font-medium text-center">À partir de {{ product.price | divided_by: 100.00 }}€
              </p>
            </a>
          </div>
        {%- endfor -%}

      </div>
    </div>
  </div>
</div>