<section class="rejoignez my-4">
    <h2 class="title">Rejoignez nous sur Instagram ! @Bahwai</h2>
    <div class="imgs-1 -ms-8 mt-8 mb-[5px] flex overflow-x-hidden">
        <img src="{{ 'instagram 1.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 2.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 1.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 2.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 1.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 2.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 1.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 2.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 1.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 2.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 1.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 2.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 1.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 2.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 1.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 2.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 1.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 2.png' |asset_url }}" class="mx-[4px]" alt="">
    </div>
    <div class="imgs-1 mb-16 flex overflow-x-hidden">
        <img src="{{ 'instagram 3.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 4.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 3.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 4.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 3.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 4.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 3.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 4.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 3.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 4.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 3.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 4.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 3.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 4.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 3.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 4.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 3.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 4.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 3.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 4.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 3.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 4.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 3.png' |asset_url }}" class="mx-[4px]" alt="">
        <img src="{{ 'instagram 4.png' |asset_url }}" class="mx-[4px]" alt="">
    </div>
</section>