<section id="imgs-index" class="rejoignez my-4">
  <h2 class="title">Rejoignez nous sur Instagram ! @Bahwai.fr</h2>
  <div class="imgs-1 -ms-8 mt-8 mb-[8px] flex overflow-x-hidden">
    <img
      src="{{ 'bahwai-instagram1.webp' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">
    <img
      src="{{ 'bahwai-instagram2.webp' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">
    <img
      src="{{ 'bahwai-instagram3.webp' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">
    <img
      src="{{ 'bahwai-instagram4.webp' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

    <img
      src="{{ 'bahwai-instagram5.webp' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

    <img
      src="{{ 'bahwai-instagram6.webp' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

    <img
      src="{{ 'bahwai-instagram7.webp' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

    <img
      src="{{ 'bahwai-instagram8.webp' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

    <img
      src="{{ 'bahwai-instagram9.webp' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

    <img
      src="{{ 'inst_img1.jpeg' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

    <img
      src="{{ 'inst_img2.jpeg' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

    <img
      src="{{ 'inst_img3.jpeg' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

    <img
      src="{{ 'inst_img4.jpeg' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

    <img
      src="{{ 'inst_img5.jpeg' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

    <img
      src="{{ 'inst_img6.jpeg' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

    <img
      src="{{ 'inst_img7.jpeg' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

    <img
      src="{{ 'inst_img8.jpeg' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

    <img
      src="{{ 'inst_img1.jpeg' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

  </div>
  <div class="imgs-1 mb-16 flex overflow-x-hidden">
    <img
      src="{{ 'inst_img8.jpeg' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

    <img
      src="{{ 'inst_img7.jpeg' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

    <img
      src="{{ 'inst_img6.jpeg' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

    <img
      src="{{ 'inst_img5.jpeg' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

    <img
      src="{{ 'inst_img4.jpeg' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

    <img
      src="{{ 'inst_img3.jpeg' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

    <img
      src="{{ 'inst_img2.jpeg' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

    <img
      src="{{ 'inst_img1.jpeg' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

    <img
      src="{{ 'inst_img4.jpeg' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

    <img
      src="{{ 'inst_img1.jpeg' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

    <img
      src="{{ 'inst_img7.jpeg' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

    <img
      src="{{ 'inst_img3.jpeg' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

    <img
      src="{{ 'inst_img6.jpeg' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">


    <img
      src="{{ 'inst_img4.jpeg' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

    <img
      src="{{ 'inst_img5.jpeg' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

    <img
      src="{{ 'inst_img4.jpeg' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

    <img
      src="{{ 'inst_img6.jpeg' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

    <img
      src="{{ 'inst_img8.jpeg' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

    <img
      src="{{ 'inst_img2.jpeg' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

    <img
      src="{{ 'inst_img1.jpeg' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

    <img
      src="{{ 'inst_img8.jpeg' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

    <img
      src="{{ 'inst_img4.jpeg' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

    <img
      src="{{ 'inst_img3.jpeg' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

    <img
      src="{{ 'inst_img5.jpeg' | asset_url }}"
      class="mx-[4px]"
      alt="image instagram"
      width="130"
      height="130"
      loading="lazy">

  </div>
</section>