<div style="background-image: url('{{ 'BanniereViolet.png' | asset_url }}');" class="site-info img-center bg-cover bg-no-repeat bg-center text-white p-4">
  <h2 class="text-[32px] font-litle text-center text-white">{{ section.settings.titre }}
  </h2>
  <div class="items flex flex-col sm:flex-row items-center justify-center gap-8  mx-auto m-4">
    <div class="item sm:ms-0 ms-[10px] flex sm:gap-4 gap-[28px] items-center sm:w-auto w-[278px]">
      <img
        src="{{ 'CanetteBahwai.svg' | asset_url }}"
        alt="Alimentation saine"
        width="auto"
        height="auto"
        loading="lazy">
      <div class="">
        <h5 class="font-bold">Alimentation saine</h5>
        <p class="text-[12px]">Zero sucre - Vegan – Sans gluten - ZERO BLABLA</p>
      </div>
    </div>
    <div class="item flex gap-4 items-center w-[298px] sm:w-auto">
      <img
        src=" {{ 'tour efeil.svg' | asset_url }}"
        alt="La gourmandise à la French"
        width="auto"
        height="auto"
        loading="lazy">
      <div class="">
        <h5 class="font-bold">La gourmandise à la French</h5>
        <p class="text-[12px]">Avant tout, c’est le goût !</p>
      </div>
    </div>
    <div class="item flex gap-4 items-center w-[298px] sm:w-[341px]">
      <img
        src="{{ 'reduction.svg' | asset_url }}"
        alt="Réductions toute l’année"
        width="auto"
        height="auto"
        loading="lazy">
      <div class="">
        <h5 class="font-bold">Réductions toute l’année</h5>
        <p class="text-[12px]">-15% pour les abonnés BAHWAI <br class="sm:hidden block">
          -15 % pour les étudiants ( les fins de mois, tu connais…)
        </p>
      </div>
    </div>
  </div>
</div>