<div style="background-image: url('{{ 'DS_Violet.png' | asset_url }}');" class="site-info bg-contain bg-center text-white p-4">
  <h2 class="text-[32px] font-litle text-center text-white">{{ section.settings.titre }}
  </h2>
  <div class="items flex flex-col sm:flex-row items-center justify-center gap-8 mx-auto m-4">
    <div class="item flex gap-4 items-center">
      <img src="{{ 'canette.svg' | asset_url}}" alt="Alimentation saine">
      <div class="">
        <h5 class="font-bold">Alimentation saine</h5> 
        <p class="text-[12px]">Zéro sucre - Sans gluten - Végan</p>
      </div>
    </div>
    <div class="item flex gap-4 items-center w-[298px] sm:w-auto">
      <img src=" {{ 'tour efeil.svg' | asset_url}}" alt="Alimentation saine">
      <div class="">
        <h5 class="font-bold">La gourmandise à la French</h5>
        <p class="text-[12px]">Nos produits sont 100% Made in France</p>
      </div>
    </div>
    <div class="item flex gap-4 items-center w-[298px] sm:w-auto">
      <img src="{{ 'reduction.svg' | asset_url }}" alt="Alimentation saine">
      <div class="">
        <h5 class="font-bold">Réductions toute l’année</h5>
        <p class="text-[12px]">-20% pour les abonnés Bahwai <br class="sm:hidden block">
          -30% pour les étudiants
        </p>
      </div>
    </div>
  </div>
</div>