{%- if template.name == 'index' -%}
  <div>
    {% comment %}  
    <video
    src="{{ 'banner_canonly.mp4' | asset_url }}"
    class="object-cover absolute top-0 left-0 w-full sm:h-[655px] h-[520px] z-[-1]"
    autoplay=""
    loop=""
    muted=""
    type="video/mp4"></video>
    {% endcomment %}
    <video
      src="{{ 'banner_canonly.mp4' | asset_url }}"
      class="object-cover absolute top-0 left-0 w-full sm:h-[655px] h-[520px] z-[-1]"
      playsinline
      autoplay
      muted
      loop
      type="video/mp4"></video>
  </div>
{%- endif -%}

<div
  class="bup py-2 bg-_orange_color">
  <p
    class="text-center sm:text-base text-[13px] text-white">{{ section.settings.annonce }}</p>
</div>

<div
  class="header-1  bg-_main_color_light">
  <div
    class="desktop-width flex flex-row items-center justify-between  py-1 px-4 sm:px-8">
    <div
      class="bars block sm:hidden">
      <div
        class="content flex items-center gap-3">
        <i
          class="fa-solid fa-bars text-white text-xl hover:cursor-pointer"
          id="open-bars"></i>
        <a
          href="/"
          title="BahWai">
          <img
            src="{{ '300DPI.png' | asset_url }}"
            alt="BahWai"
            class="w-10"
            loading="lazy"
            width="auto"
            height="auto">
        </a>
      </div>
    </div>
    <div
      class="logo hidden sm:block">
      <a
        href="/"
        title="bahwai">
        <img
          src="{{ 'icon bahwai.svg' | asset_url }}"
          alt="BahWai"
          class="w-20"
          width="auto"
          height="auto"
          loading="lazy">
      </a>
    </div>
    <div
      class="search hidden sm:block w-[17rem]">
      <form
        action="#"
        method="get"
        class="flex border-b-2">
        <img
          src="{{'search.svg' | asset_url }}"
          alt="Recherche"
          width="auto"
          height="auto"
          loading="lazy">
        <input
          id="input-homepage-search"
          type="text"
          autocomplete="off"
          title="Rechercher des produits..."
          name="search"
          placeholder="Recherche de produits"
          class="outline-none  bg-transparent text-white ms-2 w-full">
      </form>
    </div>
    <div
      class="info">
      <ul
        class="flex gap-4 font-medium text-white">
        <li
          id="search-sm"
          class="border-r-2 block sm:hidden">
          <a
            href=""
            id="search-icon"
            title="Rechercher">
            <img
              src="{{' search.svg' | asset_url }}"
              alt="search"
              class="mr-2"
              width="auto"
              height="auto"
              loading="lazy">
          </a>
        </li>
        <li>
          <a
            href="{{ routes.cart_url }}"
            id="icon-panier"
            class="flex hover-nav-item relative"
            title="panier">

            <img
              src="{{' panier.svg' | asset_url }}"
              alt="panier"
              class="mr-2 "
              width="auto"
              height="auto"
              loading="lazy">
            <span
              class="sm:block hidden">Panier</span>
            <div
              id="panier-count"
              class="panier-count">
              <span>{{ cart.item_count }}</span>
            </div>
          </a>
        </li>
        <li>
          <a
            href="
            {%- if customer -%}
              {{ routes.account_url }}
            {%- else -%}
              {{ routes.account_login_url }}
            {%- endif -%}"
            class="flex hover-nav-item"
            title="Mon compte">
            <img
              src="{{'user.svg' | asset_url}}"
              alt="mon compte"
              class="mr-2"
              width="auto"
              height="auto"
              loading="lazy">
            <span
              class="sm:block hidden">Mon compte</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<nav
  id="nav-header"
  class="bg-_main_color_dark py-2 hidden sm:block">
  <ul
    class="flex text-white justify-center desktop-width">
    <div
      class="left-links flex justify-center gap-4 max-w-[75%] w-full">
      {% for link in section.settings.menu.links %}
        {% if link.links.size > 0 %}
          <li
            class="accordions relative">
            <a
              class="hover-nav-item"
              id="btn-accordion"
              href="{{ link.url }}"
              title="{{ link.title }}">
              <span>{{ link.title }}</span>
              <i
                class="fa-sharp fa-solid fa-chevron-down"></i>
            </a>
            <div
              class="panel hidden absolute top-8 left-1 bg-_main_color_dark w-[7rem]">
              <ul
                class="text-white flex flex-col ps-2">
                {% for sublink in link.links %}
                  <li>
                    <a
                      href="{{ sublink.url }}"
                      title="{{ sublink.title }}">{{ sublink.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </li>
        {% else %}
          <li>
            <a
              class="hover-nav-item"
              href="{{ link.url }}"
              title="{{ link.title }}">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
      {% for link in linklists['menu-side'].links %}
        {% if link.title == 'Nous trouver' %}
          <li>
            <a
              class="hover-nav-item"
              href="{{ link.url }}#nous-trouver"
              title="{{ link.title }}">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </div>
    <div
      class="right-links flex justify-center items-end gap-4 ml-auto pr-8">
      {% for link in linklists['menu-side'].links %}
        {% if link.title != 'Nous trouver' %}
          <li
            class="px-2">
            <a
              class="hover-nav-item"
              href="{{ link.url }}"
              title="{{ link.title }}">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </div>
  </ul>

</nav>