<style>
    .goutes{
        background-image: url(' {{ 'goutes_modal_review.svg' |  asset_url }}');
        width: auto;
        height: auto;
    }
</style>
<div class="modal-review">
    <div class="content flex justify-center items-center relative sm:w-[881px] w-[345px] sm:h-[400px] h-[300px] bg-_orange_color rounded-lg">
        <h5 class="title-white pb-[3rem]">Votre avis a bien été envoyé !</h5>

        <img class="rotate-[334deg] sm:w-[400px] w-[206px] absolute top-[-72px] left-[-126px]" src="{{ 'explosion_chocolat.png' |  asset_url }}" alt="courbe_desktop" height="auto" width="auto">
        <img class="sm:block hidden absolute bottom-0 right-0" src="{{ 'courbe_review_desktop.png' |  asset_url }}" alt="courbe_desktop" height="auto" width="auto">
        <img class="sm:hidden block absolute bottom-0 right-0" src="{{ 'courbe_review_desktop.png' |  asset_url }}" alt="courbe_desktop" height="auto" width="auto">
        <img class="absolute bottom-[5rem] right-[13rem]" src="{{ 'courbe_review_1.png' |  asset_url }}" alt="courbe_desktop" height="auto" width="auto">
        <div class="goutes absolute bottom-[15.5rem] right-[8rem]"></div>
        
        <img class="absolute bottom-0 right-0" src="{{ 'courbe_review_2.png' |  asset_url }}" alt="courbe_desktop" height="auto" width="auto">
        <img class="absolute bottom-0 right-0" src="{{ 'courbe_review_3.png' |  asset_url }}" alt="courbe_desktop" height="auto" width="auto">
        <img class="absolute bottom-0 right-0" src="{{ 'courbe_review_4.png' |  asset_url }}" alt="courbe_desktop" height="auto" width="auto">
    </div>
</div>


