<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
    <link
      rel="preconnect"
      href="https://cdn.shopify.com"
      crossorigin>

    {%- if settings.favicon != blank -%}
      <link
        rel="icon"
        type="image/png"
        href="{{ settings.favicon | image_url: width: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link
        rel="preconnect"
        href="https://fonts.shopifycdn.com"
        crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %}
        &ndash; tagged "{{ current_tags | join: ', ' }}
        "{% endif -%}
      {%- if current_page != 1 %}
        &ndash; Page
        {{ current_page }}
      {% endif -%}
      {%- unless page_title contains shop.name %}
        &ndash;
        {{ shop.name }}
      {% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    {{ content_for_header }}

    {% render 'head-styles' %}

    <link rel="stylesheet" href="{{ 'app.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'swiper.css' | asset_url }}">
    <script src="{{ 'swiper.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'jquery.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'script.js' | asset_url }}" defer="defer"></script>

    {%- unless settings.type_body_font.system? -%}
      <link
        rel="preload_tag"
        as="font"
        href="{{ settings.type_body_font | font_url }}"
        type="font/woff2"
        crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link
        rel="preload_tag"
        as="font"
        href="{{ settings.type_header_font | font_url }}"
        type="font/woff2"
        crossorigin>
    {%- endunless -%}



    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>

  </head>

  <body class="overflow-x-hidden">
    <a class="skip-to-content-link button sr-only" href="#MainContent">
      {{ "accessibility.skip_to_text" | t }}
    </a>


    {% if template.name != '404' %}
      <header class="relative">
        {% section 'bh-header' %}
        {% comment %}
        {% render 'bh-menu-bars' %}
        {% endcomment %}
      </header>
    {% endif %}

    <main
      id="MainContent"
      role="main"
      tabindex="-1">
      {{ content_for_layout }}


      {% if template.name == 'index' %}
        <section class="banner relative sm:h-[25rem] h-[20rem] flex justify-center items-center">
          <div class="banner-content text-white flex justify-center flex-col items-center gap-2">
            <h1 class="font-litle text-[32px] text-center">Quand grignoter est sans limite...</h1>
            <p class="text-center">Atteignez vos objectifs tout en prenant du plaisir avec nos snacks riches en protéines
            </p>
            <p class="pt-[3rem]">
              <a href="{{ collections.all.url }}" class="btn block text-center font-semibold">Je veux découvrir</a>
            </p>
          </div>
          <style>
            @media screen and (max-width: 640px) {
              .wave-index {
                background-image: url('{{ 'Vague-Mobile.svg' |asset_url }}');
              }
            }
          </style>
          <div style="background-image: url('{{ 'Vague-desktop.svg' |asset_url }}');" class="wave-index absolute sm:bottom-[-16px] bottom-[-46px] img-center bg-no-repeat h-[27px] w-full"></div>
        </section>

        {% section 'bh-nouveautes' %}
        {% section 'site-info-section' %}
        {% render 'bh-categories' %}
        {% section 'bh-pour-un-monde' %}
        {% section 'bh-map' %}
        {% section 'bh-newsletter' %}
        {% render 'bh-faq' %}
        {% section 'bh-avis' %}
        {% render 'bh-rejoignez-nous' %}
        {% section 'bh-actualites' %}
        {% section 'bh-partenaire' %}
      {% endif %}

      {% render 'bh-search-modal' %}
      {% render 'bh-panier-modal' %}

    </main>

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}
      </li>
    </ul>

    {% render 'footer-scripts' %}

    {% if template.name != '404' %}
      {% if template.name != 'login' %}
        {% if template.name == 'index' or template.name == 'collection' or template.name == 'product' %}
          {% render 'bh-footer-complet' %}
        {% else %}
          {% render 'bh-footer-autre' %}
        {% endif %}
      {% else %}
        {% render 'bh-footer-login' %}
      {% endif %}
    {% endif %}

    <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>

  </body>
</html>