<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link
      rel="preconnect"
      href="https://cdn.shopify.com"
      crossorigin>

    {%- if settings.favicon != blank -%}
      <link
        rel="icon"
        type="image/png"
        href="{{ settings.favicon | image_url: width: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link
        rel="preconnect"
        href="https://fonts.shopifycdn.com"
        crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %}
        &ndash; tagged "{{ current_tags | join: ', ' }}
        "{% endif -%}
      {%- if current_page != 1 %}
        &ndash; Page
        {{ current_page }}
      {% endif -%}
      {%- unless page_title contains shop.name %}
        &ndash;
        {{ shop.name }}
      {% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    {{ content_for_header }}

    {% render 'head-styles' %}

    <link rel="stylesheet" href="{{ 'app.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'swiper.css' | asset_url }}">
    <script src="{{ 'app.js' | asset_url }}" defer="defer"></script>

    {%- unless settings.type_body_font.system? -%}
      <link
        rel="preload_tag"
        as="font"
        href="{{ settings.type_body_font | font_url }}"
        type="font/woff2"
        crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link
        rel="preload_tag"
        as="font"
        href="{{ settings.type_header_font | font_url }}"
        type="font/woff2"
        crossorigin>
    {%- endunless -%}



    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>

  </head>

  <body class="overflow-x-hidden">
    <a class="skip-to-content-link button sr-only" href="#MainContent">
      {{ "accessibility.skip_to_text" | t }}
    </a>
    {% comment %}  
    {% section 'announcement-bar' %}
    {% section 'header' %}
    {% render 'cart-drawer' %}
    {% endcomment %}

    <header class="relative">
      <div>
        <video
          src="{{ 'video_test.mp4' | asset_url }}"
          class="object-fill absolute top-0 left-0 w-full sm:h-[630px] h-[400px] z-[-1]"
          autoplay=""
          loop=""
          muted=""
          type="video/mp4"></video>
      </div>
      <div class="bup py-2 bg-_orange_color">
        <p class="text-center sm:text-base text-[13px] text-white">Profitez de -20% pour votre première commande</p>
      </div>
      <div class="header-1  bg-_main_color_light">
        <div class="desktop-width flex flex-row items-center justify-between  py-1 px-4 sm:px-8">
          <div class="bars block sm:hidden">
            <div class="content flex items-center gap-3">
              <i class="fa-solid fa-bars text-white text-xl hover:cursor-pointer" id="open-bars"></i>
              <a href="./index.html" title="BahWai">
                <img
                  src="{{ 'icon_bahwai_sm.svg' | asset_url }}"
                  alt="BahWai"
                  class="w-auto"
                  loading="lazy"
                  width="auto"
                  height="auto">
              </a>
            </div>
          </div>
          <div class="logo hidden sm:block">
            <a href="./index.html" title="bahwai">
              <img
                src="{{ 'icon_bahwai.svg' | asset_url }}"
                alt="BahWai"
                class="w-20"
                width="auto"
                height="auto"
                loading="lazy">
            </a>
          </div>
          <div class="search hidden sm:block w-[17rem]">
            <form
              action="#"
              method="get"
              class="flex border-b-2">
              <img
                src="{{'search.svg' | asset_url }}"
                alt="Recherche"
                width="auto"
                height="auto"
                loading="lazy">
              <input
                id="input-homepage-search"
                type="search"
                autocomplete="off"
                title="Rechercher des produits..."
                name="search"
                placeholder="Recherche de produits"
                class="outline-none  bg-transparent text-white ms-2 w-full">
            </form>
          </div>
          <div class="info">
            <ul class="flex gap-4 font-medium text-white">
              <li id="search-sm" class="border-r-2 block sm:hidden">
                <a
                  href=""
                  id="search-icon"
                  title="Rechercher">
                  <img
                    src="{{' search.svg' | asset_url }}"
                    alt="search"
                    class="mr-2"
                    width="auto"
                    height="auto"
                    loading="lazy">
                </a>
              </li>
              <li>
                <a
                  href="#"
                  id="icon-panier"
                  class="flex hover-nav-item"
                  title="panier">

                  <img
                    src="{{' panier.svg' | asset_url }}"
                    alt="panier"
                    class="mr-2"
                    width="auto"
                    height="auto"
                    loading="lazy">
                  <span class="sm:block hidden">Panier</span>
                </a>
              </li>
              <li>
                <a
                  href="./connexion.html"
                  class="flex hover-nav-item"
                  title="Mon compte">
                  <img
                    src="{{'user.svg' | asset_url}}"
                    alt="mon compte"
                    class="mr-2"
                    width="auto"
                    height="auto"
                    loading="lazy">
                  <span class="sm:block hidden">Mon compte</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <nav id="nav-header" class="bg-_main_color_dark py-2 hidden sm:block">
        <ul class="flex justify-center gap-4 text-white">
          <li>
            <a
              class="hover-nav-item"
              href="#"
              title="Canettes">Canettes</a>
          </li>
          <li>
            <a
              class="hover-nav-item"
              href="#"
              title="Chocolats">Chocolats</a>
          </li>
          <li>
            <a
              class="hover-nav-item"
              href="#"
              title="Packs">Packs</a>
          </li>
          <li>
            <a
              class="hover-nav-item"
              href="#"
              title="Offres du moment">Offres du moment</a>
          </li>
          <li>
            <a
              class="hover-nav-item"
              href="./nous contacter.html"
              title="Nous contacter">Nous contacter</a>
          </li>
          <li class="accordions relative">
            <a
              class="hover-nav-item"
              id="btn-accordion"
              href="#"
              title="Autres">
              <span>Autres</span>
              <i class="fa-sharp fa-solid fa-chevron-down"></i>
            </a>
            <div class="panel hidden absolute top-8 left-1 bg-_main_color_dark w-[7rem]">
              <ul class="text-white flex flex-col ps-2">
                <li>
                  <a href="#">like</a>
                </li>
                <li>
                  <a href="#">like</a>
                </li>
                <li>
                  <a href="#">like</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </header>


    <main
      id="MainContent"
      role="main"
      tabindex="-1">
      {{ content_for_layout }}
    </main>
    {% if template.name != "index" %}
      {% section 'footer' %}
    {% endif %}

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}
      </li>
    </ul>
    <script src="{{ 'swiper.js' | asset_url }}" async></script>
    <script src="{{ 'jquery.js' | asset_url}}" async></script>
    <script src="{{ 'script.js' |asset_url }}" async></script>
    {% render 'footer-scripts' %}

    <!--{%- if settings.predictive_search_enabled -%}
    <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}--></body>
</html>