<section class="avis my-4 sm:px-8 p-0 desktop-width">
  <h2 class="title">{{ section.settings.titre }}
  </h2>
  <div class="avis-container flex justify-around gap-4 mt-8 mb-16 ">
    <div id="swiper-avis" class="swiper swiper-avis relative">
      <div class="swiper-wrapper sm:ps-0 ">
        {% for block in section.blocks %}
          <div class="swiper-slide">
            <div class="avis-item flex flex-col gap-2 sm:max-w-[306px] w-full rounded-sm p-2">
              <div class="flex">
                <img
                  src="{{ block.settings.user_img | img_url: '100x100' }}"
                  alt="profile"
                  class="rounded-[50%] me-2 w-12 h-auto">
                <div class="flex justify-between w-full">
                  <div class="">
                    <h5 class="font-bold text-black">{{ block.settings.autheur }}
                    </h5>
                    <p class="text-gray-500 text-sm">{{ block.settings.date }}
                    </p>
                  </div>
                  <img
                    src="{{ block.settings.logo_google | img_url: '100x100' }}"
                    alt="google"
                    class="w-6 self-start">
                </div>
              </div>
              <div class="stars">
                <i class="fas fa-star text-yellow-300"></i>
                <i class="fas fa-star text-yellow-300"></i>
                <i class="fas fa-star text-yellow-300"></i>
                <i class="fas fa-star text-yellow-300"></i>
                <i class="fas fa-star text-yellow-300"></i>
              </div>
              <div class="comment max-h-[8rem] h-full overflow-y-scroll scrolbar-thin">
                <p class="text-base">
                  {{ block.settings.message }}</p>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
  <div></div>
</section>

{% schema %}
  {
    "name": "Avis clients",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "titre",
        "label": "Titre",
        "default": "Leurs avis"
      }
    ],
    "max_blocks": 7,
    "blocks": [
      {
        "name": "Avis",
        "type": "announcement",
        "settings": [
          {
            "type": "image_picker",
            "id": "user_img",
            "label": "profile imgae"
          },
          {
            "type": "image_picker",
            "id": "logo_google",
            "label": "Google logo"
          },
          {
            "type": "text",
            "id": "message",
            "label": "Message",
            "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi soluta inventore perspiciatis cupiditate mollitia laudantium unde"
          },
          {
            "type": "text",
            "id": "autheur",
            "label": "Autheur",
            "default": "Cristopher Teyssier"
          }, {
            "type": "text",
            "id": "date",
            "label": "Date publication",
            "default": "6. juin, 2022."
          }
        ]
      }
    ]
  }
{% endschema %}