<section class="faq pt-12 pb-[40px] bg-_main_color_darker ">
  <div class="faq-content sm:w-[428px] w-full mx-auto">
    <h2 class="title-white mb-8">FAQ</h2>
    <div id="faq-links" class="menu-list flex items-center flex-wrap justify-center gap-2 text-white">
      <a href="#faq_1" class="faq-link active screen300:w-[11.5rem]">{{ section.settings.title-1 }}</a>
      <a href="#faq_2" class="faq-link screen300:w-[11.5rem]">{{ section.settings.title-2 }}</a>
      <a href="#faq_3" class="faq-link screen300:w-[11.5rem]">{{ section.settings.title-3 }}</a>
      <a href="#faq_4" class="faq-link screen300:w-[11.5rem]">{{ section.settings.title-4 }}</a>
    </div>
    <div class="questions-content text-white">
      <div id="faq_1" class="accordions flex flex-col mt-4 mb-16 sm:mx-auto sm:max-w-[30rem] w-full">
        {% for block in section.blocks %}
          {% if block.type == 'faq_1' %}
            <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-2">
              <button
                type="button"
                id="btn-accordion"
                class="text-start px-4 font-bold flex justify-between w-full">
                <span>{{ block.settings.question }} </span>
                <i class="fas fa-chevron-down transition-transform duration-500"></i>
              </button>
              <div class="panel px-4 pt-2 hidden">
                <p>{{ block.settings.reponse }}</p>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div id="faq_2" class="accordions hidden flex-col mt-4 mb-16 sm:mx-auto sm:max-w-[30rem] w-full">
        {% for block in section.blocks %}
          {% if block.type == 'faq_2' %}
            <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-2">
              <button
                type="button"
                id="btn-accordion"
                class="text-start px-4 font-bold flex justify-between w-full">
                <span>{{ block.settings.question }} </span>
                <i class="fas fa-chevron-down transition-transform duration-500"></i>
              </button>
              <div class="panel px-4 pt-2 hidden">
                <p>{{ block.settings.reponse }}</p>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div id="faq_3" class="accordions hidden flex-col mt-4 mb-16 sm:mx-auto sm:max-w-[30rem] w-full">
        {% for block in section.blocks %}
          {% if block.type == 'faq_3' %}
            <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-2">
              <button
                type="button"
                id="btn-accordion"
                class="text-start px-4 font-bold flex justify-between w-full">
                <span>{{ block.settings.question }} </span>
                <i class="fas fa-chevron-down transition-transform duration-500"></i>
              </button>
              <div class="panel px-4 pt-2 hidden">
                <p>{{ block.settings.reponse }}</p>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div id="faq_4" class="accordions hidden  flex-col mt-4 mb-16 sm:mx-auto sm:max-w-[30rem] w-full">
        {% for block in section.blocks %}
          {% if block.type == 'faq_4' %}
            <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-2">
              <button
                type="button"
                id="btn-accordion"
                class="text-start px-4 font-bold flex justify-between w-full">
                <span>{{ block.settings.question }} </span>
                <i class="fas fa-chevron-down transition-transform duration-500"></i>
              </button>
              <div class="panel px-4 pt-2 hidden">
                <p>{{ block.settings.reponse }}</p>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "FAQ Section",
    "tag": "section",
    "class": "faq-section",
    "settings": [
      {
        "type": "text",
        "id": "title-1",
        "label": "Titre 1",
        "default": "GARANTIE/QUALITE"
      },
      {
        "type": "text",
        "id": "title-2",
        "label": "Titre 2",
        "default": "INGREDIENTS"
      },
      {
        "type": "text",
        "id": "title-3",
        "label": "Titre 3",
        "default": "UTILISATION"
      },
      {
        "type": "text",
        "id": "title-4",
        "label": "Titre 4",
        "default": "NOUS TROUVER"
      }
    ],
    "max_blocks": 20,
    "blocks": [
      {
        "name": "Questionnaire 1",
        "type": "faq_1",
        "settings": [
          {
            "type": "text",
            "id": "question",
            "label": "Question",
            "default": "Comment modifier ma commande ?"
          }, {
            "type": "text",
            "id": "reponse",
            "label": "Reponse",
            "default": "reponse..."
          }
        ]
      },
      {
        "name": "Questionnaire 2",
        "type": "faq_2",
        "settings": [
          {
            "type": "text",
            "id": "question",
            "label": "Question",
            "default": "Comment modifier ma commande ?"
          }, {
            "type": "text",
            "id": "reponse",
            "label": "Reponse",
            "default": "reponse..."
          }
        ]
      },
      {
        "name": "Questionnaire 3",
        "type": "faq_3",
        "settings": [
          {
            "type": "text",
            "id": "question",
            "label": "Question",
            "default": "Comment modifier ma commande ?"
          }, {
            "type": "text",
            "id": "reponse",
            "label": "Reponse",
            "default": "reponse..."
          }
        ]
      },
      {
        "name": "Questionnaire 4",
        "type": "faq_4",
        "settings": [
          {
            "type": "text",
            "id": "question",
            "label": "Question",
            "default": "Comment modifier ma commande ?"
          }, {
            "type": "text",
            "id": "reponse",
            "label": "Reponse",
            "default": "reponse..."
          }
        ]
      }
    ]
  }
{% endschema %}