
  <div class="content relative z-20">
    <div class="py-2 bup bg-_main_color_dark">
      <p class="text-center sm:text-base text-[13px] text-_red_color">{{ section.settings.annonce }}</p>
    </div>
    
    <div class="header-1 relative z-20 bg-_main_color_dark p-4 rounded-md sm:mt-[21px] mt-2 desktop-width">
      <div class="flex flex-row items-center justify-between px-4 py-1  sm:px-8">
        <div class="block bars sm:hidden">
          <div class="flex items-center gap-3 content">
            <i class="text-xl text-white fa-solid fa-bars hover:cursor-pointer" id="open-bars"></i>
            <a href="/" title="BahWai">
              <img src="{{ 'logo.svg' | asset_url }}" alt="BahWai" class="w-[45px]" loading="lazy" width="auto" height="auto">
            </a>
          </div>
        </div>
        <div class="hidden sm:flex gap-6 items-center">
          <div>
            <a href="/" title="bahwai">
              <img src="{{ 'logo.svg' | asset_url }}" alt="BahWai" class="w-[45px]" width="auto" height="auto"
                loading="lazy">
            </a>
          </div>
          <div class="nav-links-header">
            <ul class="content flex gap-8">
              <li class="md:block hidden">
                <a href="#" class="nav-link-header active" title="Shop">Shop</a>
              </li>
              <li class="md:block hidden">
                <a href="#" class="nav-link-header active" title="La vrai story">La vrai story</a>
              </li>
              <li class="md:block hidden">
                <a href="#" class="nav-link-header active" title="Où nous trouver">Où nous trouver</a>
              </li>
              <li>
                <a href="#" class="nav-link-header" title="Blog">Blog</a>
              </li>
              <li>
                <a href="#" class="nav-link-header" title="Devenez revendeur">Devenez revendeur</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="info">
          <ul class="flex sm:gap-[40px] gap-6 font-medium text-white">
            <li class="sm:border-none border-r-2">
              <a href="#" id="search-icon" title="Rechercher">
                <img src="{{'search.svg' | asset_url }}" alt="search" class="mr-2" width="auto" height="auto"
                  loading="lazy">
              </a>
            </li>
            <li>
              <a href="{{ routes.cart_url }}" id="icon-panier" class="relative flex hover-nav-item" title="panier">
    
                <img src="{{'cart.svg' | asset_url }}" alt="panier" class="mr-2 " width="auto" height="auto"
                  loading="lazy">
                <span class="hidden md:block">Panier</span>
                <div id="panier-count" class="panier-count">
                  <span>{{ cart.item_count }}</span>
                </div>
              </a>
            </li>
            <li>
              <a href="
                {%- if customer -%}
                  {{ routes.account_url }}
                {%- else -%}
                  {{ routes.account_login_url }}
                {%- endif -%}" class="flex hover-nav-item" title="Mon compte">
                <img src="{{'user.svg' | asset_url}}" alt="mon compte" class="mr-2" width="auto" height="auto"
                  loading="lazy">
                <span class="hidden md:block">Mon compte</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  {% render 'bh-search-modal' %}
  
  {% comment %} <nav id="nav-header" class="hidden py-2 bg-_main_color_dark sm:block">
    <ul class="flex justify-center text-white desktop-width">
      <div class="left-links flex justify-center gap-4 max-w-[75%] w-full ml-auto">
        {% for link in section.settings.menu.links %}
        {% if link.links.size > 0 %}
        <li class="relative accordions">
          <a class="hover-nav-item" id="btn-accordion" href="{{ link.url }}" title="{{ link.title }}">
            <span>{{ link.title }}</span>
            <i class="fa-sharp fa-solid fa-chevron-down"></i>
          </a>
          <div class="panel hidden absolute top-8 left-1 bg-_main_color_dark w-[7rem]">
            <ul class="flex flex-col text-white ps-2">
              {% for sublink in link.links %}
              <li>
                <a href="{{ sublink.url }}" title="{{ sublink.title }}">{{ sublink.title }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </li>
        {% else %}
        <li>
          <a class="hover-nav-item" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% for link in linklists['menu-side'].links %}
        {% if link.title == 'Nous trouver' %}
        <li>
          <a class="hover-nav-item" href="{{ link.url }}#nous-trouver" title="{{ link.title }}">{{ link.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </div>
      <div class="flex items-end justify-center gap-4 pr-8 ml-auto right-links">
        {% for link in linklists['menu-side'].links %}
        {% if link.title != 'Nous trouver' %}
        <li class="px-2">
          <a class="hover-nav-item" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </div>
    </ul>
  
  </nav> {% endcomment %}


<script type="application/ld+json">
  {
  "@context": "http://schema.org",
                                            "@type": "Organization",
                                            "name": {{ shop.name | json }},
  {% if settings.logo %}
    "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
  {% endif %}
  "sameAs": [
  {{ settings.social_twitter_link | json }},
  {{ settings.social_facebook_link | json }},
  {{ settings.social_pinterest_link | json }},
  {{ settings.social_instagram_link | json }},
  {{ settings.social_tiktok_link | json }},
  {{ settings.social_tumblr_link | json }},
  {{ settings.social_snapchat_link | json }},
  {{ settings.social_youtube_link | json }},
  {{ settings.social_vimeo_link | json }}
  ],
  "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
{% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
<script type="application/ld+json">
    {
    "@context": "http://schema.org",
                                                                                      "@type": "WebSite",
                                                                                      "name": {{ shop.name | json }},
    "potentialAction": {
                                                                                        "@type": "SearchAction",
                                                                                        "target": {{ potential_action_target | json }},
    "query-input": "required name=search_term_string"
                                                                                      },
                                                                                      "url": {{ request.origin | append: page.url | json }}
    }
</script>  
{%- endif -%}

{% schema %}
{
"name": "Bahwai header",
"class": "header-section",
"tag": "section",
"settings": [
{
"type": "text",
"id": "annonce",
"label": "Annonce",
"default": "Livraison offerte à partir de 20€"
},
{
"type": "link_list",
"id": "menu",
"default": "main-menu",
"label": "Menu principale"
},
{
"type": "image_picker",
"id": "logo",
"label": "Logo"
},
{
"type": "range",
"id": "logo_width",
"min": 50,
"max": 250,
"step": 10,
"default": 100,
"unit": "px",
"label": "largeur"
},
{
"type": "url",
"id": "video_url",
"label": "Vidéo du hero"
},
{
"type": "image_picker",
"id": "image_1",
"label": "Image 1"
},
{
"type": "image_picker",
"id": "image_2",
"label": "Image 2"
},
{
"type": "image_picker",
"id": "image_3",
"label": "Image 3"
},
{
"type": "image_picker",
"id": "image_4",
"label": "Image 4"
},
{
"type": "image_picker",
"id": "image_5",
"label": "Image 5"
}
],
"blocks": [
{
"type": "@app"
}
]
}
{% endschema %}