<div class="content sm:mt-[-9rem] mt-[-6rem] relative -z-0 bg-_main_color_light">
    <style>
        .choc-img-item{
            /* background-image: url("{{ 'chocolat_long.png' |  asset_url }}"); */
            margin-right: -1px;
        }
        .bulle_1{
            position: absolute;
            left: 50px;
            bottom: -21px;
        }
        .bulle_2{
            position: absolute;
            bottom: 2px;
            left: 205px;
        }
        .bulle_3{
            position: absolute;
            bottom: 96px;
            left: 212px;
        }
        .bulle_4{
            position: absolute;
            bottom: 92px;
            left: 265px;
        }
        .chocolat_court{
            background-image: url('{{ 'chocolat_court.png' |  asset_url }}');
        }
        .chocolat_long{
            background-image: url('{{ 'chocolat_long.png' |  asset_url }}');
        }
        .chocolat_mobile{
            background-image: url('{{ 'chocolat_mobile.png' |  asset_url }}');
        }
        @media screen and (max-width: 768px) {
            .bulle_1{
                left: -10px;
                bottom: -87px;
            }
            .bulle_3{
                bottom: 65px;
                left: 141px;
            }
            .bulle_2, .bulle_4{
                display: none;
            }
        }
    </style>
    <div class="relative img-chocolat ">
        <div class=" relative z-10">
            <div class="chocolat_court h-[106px] w-full sm:block hidden"></div>
            <div class="chocolat_long h-[240px] w-full sm:block hidden"></div>
            <div class="chocolat_mobile h-[240px] w-full sm:hidden block"></div>
        </div>
        <div class="absolute top-[42px] left-[-13px] -z-0">
            <img class="sm:w-full w-[11rem]" src="{{ 'sachet_chocolat_incline.png' |  asset_url }}" alt="" height="auto" width="auto">
            <img class="bulle_1" src="{{ 'bulle_1.png' |  asset_url }}" alt="bulle_chocolat" height="auto" width="auto">
            <img class="bulle_2" src="{{ 'bulle_2.png' |  asset_url }}" alt="bulle_chocolat" height="auto" width="auto">
            <img class="bulle_3" src="{{ 'bulle_3.png' |  asset_url }}" alt="bulle_chocolat" height="auto" width="auto">
            <img class="bulle_4" src="{{ 'bulle_4.png' |  asset_url }}" alt="bulle_chocolat" height="auto" width="auto">
        </div>
    </div>

    <div class="text-content flex justify-center sm:mb-[172px] mb-[76px]">
        <h1 class="title-white">
            {{ section.settings.title }}
        </h1>
    </div>
    <div class="marqui-text">
        <div class="marquee-scroll flex gap-[12px] font-rubik text-lg font-normal text-_red_color bg-white pt-[4px]">
            <div class="marquee-chield flex gap-[12px] items-center">
                {{ section.settings.text-de-defilement }}
            </div>
            <div class="flex gap-[12px] items-center">
                {{ section.settings.text-de-defilement }}
            </div>
        </div>
    </div>
    <div class="wave-hero absolute bottom-0 right-0 -z-10">
        <img class="w-full sm:block hidden" src="{{ 'wave_hero.svg' |  asset_url }} " alt="wave-hero" height="auto" width="auto">
        <img class="w-full sm:hidden block" src="{{ 'wave_hero_mobile.svg' |  asset_url }} " alt="wave-hero" height="auto" width="auto">
    </div>
</div>

{% comment %} <pre class="bg-white">
    {{ collections | json }}
</pre> {% endcomment %}

{% schema %}
    {
      "name": "Hero section",
      "tag": "section",
      "class": "hero-section",
      "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Titre",
            "default": "Nos catégories"
        },
        {
            "type": "html",
            "id": "text-de-defilement",
            "label": "Text de defilement",
            "default": "<span>Riche en fibre diététique</span><span>Riche en fibre diététique 2</span><span>Riche en fibre diététique 3</span>"
        }
      ]
    }
{% endschema %}