<style>
  .hero-aventure {
    background-image: url('{{ 'baniere-aventure.png' |asset_url }}');
  }
  @media screen and (max-width: 641px) {
    .hero-aventure {
      background-image: url('{{ 'baniere-aventure-sm.png' |asset_url }}');
    }
  }
  .left-intro-section {
    max-width: 66%;
  }
  @media screen and (max-width: 1167px) {
    .left-intro-section {
      max-width: none;
      width: 100%;
    }
    .img-aventure-1 {
      display: none;
    }
    .img-aventure-1-sm {
      display: block;
    }
    .img-aventure-2 {
      display: none;
    }
    .img-aventure-2-sm {
      display: block;
    }
  }
</style>
<section class="aricle-main text-_main_color_dark">
  <div class="hero-aventure h-[500px] mb-[40px] img-center"></div>
  <div class="content mx-[40px] ">
    <h1 class="title mb-3">L'aventure BahWai</h1>
    <div class="intro-section flex gap-[5rem] mb-[80px] desktop-width">
      <div class="left-intro-section flex flex-col items-center text-_main_color_dark font-normal sm">
        <p class="">
          Il y a quelques années, Nora, la cofondatrice, a eu de gros soucis de santé. Avec une vie à
          100 km/h, c’est souvent tout le reste qui suit : peu de sommeil, stress au boulot, repas sur le
                                                                      pouce (et c’est rarement des courgettes), peu de temps pour prendre soin de soi et faire du
                                                                      sport...
        </p>
        <img
          class="hidden img-aventure-1-sm"
          src="{{ 'img-aventure-1.png' | asset_url }}"
          alt="image cannette bahwai"
          loading="lazy"
          width="auto"
          height="auto">
        <p class="mt-[30px]">
          Néanmoins, cette période difficile lui a permis de se recentrer sur les choses essentielles de
          la vie, le bonheur d’être avec ses proches et la simplicité. Elle a également permis une prise
                                                  de conscience sur un changement d’habitude alimentaire et l’importance du sport.
                                                  Le sport, bien plus qu’une activité physique, c’est une force mentale, il permet de se
                                                  dépasser, de se challenger, de se faire confiance, de se donner de la force pour affronter
                                                  n’importe quelle difficulté et de se sentir bien !
        </p>
      </div>
      <div class="right img-aventure-1">
        <img
          class=""
          src="{{ 'img-aventure-1.png' |asset_url }}"
          alt="image nutrigems"
          loading="lazy"
          width="auto"
          height="auto">
      </div>
    </div>
  </div>
  <img
    src="{{ 'vague-desktop-violet.svg' |asset_url }}"
    class="w-full img-center object-cover sm:block hidden mb-[-2px]"
    alt=""
    loading="lazy"
    width="auto"
    height="auto">
  <img
    src="{{ 'Vague-Mobile-violet.svg' |asset_url }}"
    class="w-full img-center object-cover sm:hidden block mb-[-2px]"
    alt=""
    loading="lazy"
    width="auto"
    height="auto">

  <div class="naissance-section img-center pt-[100px] pb-[6rem] mb-[-2rem] px-[40px] bg-_main_color_light">
    <h2
      class="title-white mb-[40px]">La naissance de Bahwai</h2>
    <div class="content flex gap-3 items-center desktop-width">
      <img
        class="img-aventure-2 me-[100px] block"
        src="{{ 'img-aventure-2.png' |asset_url }}"
        alt="image cannette bahwai"
        loading="lazy"
        width="auto"
        height="auto">
      <div class="right flex flex-col items-center text-white font-normal">
        <p class="mb-[30px]">
          Quand on a compris tout ça, on a eu envie de le partager, de le transmettre.
          Comment ? en commençant par la nutrifood et en proposant des boissons et encas sains et
                    gourmands.
                    On reste des vrais gourmands et pour nous, ce n’est pas négociable. Et on sait que vous
                    êtes comme nous alors du coup, bah wai, on était obligé de le faire ! et BahWai est né !

        </p>
        <img
          class="hidden img-aventure-2-sm"
          src="{{ 'img-aventure-2.png' |asset_url }}"
          alt="image cannette bahwai"
          loading="lazy"
          width="auto"
          height="auto">
        <p class="mt-[30px] mb-12">
          Notre mission, vous aider, les plus jeunes comme les anciens 😂 à adopter une alimentation
          cool, adaptée à votre mode de vie et plus respectueuse de votre santé. Vous aider en vous
          accompagnant aussi mentalement et physiquement à rester actif grâce au sport !
        </p>
      </div>
    </div>
  </div>

  <img
    src="{{ 'vague-desktop-red.svg' |asset_url }}"
    class="w-full img-center object-cover sm:block hidden mb-[-2px]"
    alt=""
    loading="lazy"
    width="auto"
    height="auto">
  <img
    src="{{ 'Vague-Mobile-red.svg' |asset_url }}"
    class=" w-full img-center object-cover sm:hidden block mb-[-2px]"
    alt=""
    loading="lazy"
    width="auto"
    height="auto">
  <div class="section-equipe bg-_red_color pb-16 mb-[-3rem]">
    <h2 class="title-white py-[40px]">L’équipe Bahwai</h2>
    <div class="items flex gap-[60px] flex-wrap justify-around items-stretch text-white desktop-width">
      <div class="item flex flex-col gap-3 items-center">
        <div class="img">
          <img
            src="{{ 'av-Chris-Bahwai.webp' |asset_url }}"
            class="rounded-full w-[130px] h-[130px]"
            alt="profile"
            loading="lazy"
            width="auto"
            height="auto">
        </div>
        <h3 class="font-medium text-2xl text-center max-w-[15rem]">Christopher, Co-Fondateur
        </h3>
        <p class="italic">Le dynamique</p>
      </div>
      <div class="item flex flex-col gap-3 items-center">
        <div class="img">
          <img
            src="{{ 'av-Nora-Bahwai.webp' |asset_url }}"
            class="rounded-full w-[130px] h-[130px]"
            alt="profile"
            loading="lazy"
            width="auto"
            height="auto">
        </div>
        <h3 class="font-medium text-2xl text-center max-w-[15rem]">Nora, Cofondatrice,</h3>
        <p class="italic">La force tranquille</p>
      </div>
      <div class="item flex flex-col gap-3 items-center">
        <div class="img">
          <img
            src="{{ 'av-Terence-Bahwai.webp' |asset_url }}"
            class="rounded-full w-[130px] h-[130px]"
            alt="profile"
            loading="lazy"
            width="auto"
            height="auto">
        </div>
        <h3 class="font-medium text-2xl text-center max-w-[15rem]">Terence, Responsable Media</h3>
        <p class="italic">Le plus connecté</p>
      </div>
      <div class="item flex flex-col gap-3 items-center">
        <div class="img">
          <img
            src="{{ 'av-Nicolas-Bahwai.webp' |asset_url }}"
            class="rounded-full w-[130px] h-[130px]"
            alt="profile"
            loading="lazy"
            width="auto"
            height="auto">
        </div>
        <h3 class="font-medium text-2xl text-center max-w-[15rem]">Nicolas, Responsable Marketing Digital</h3>
        <p class="italic">Le plus Geek</p>
      </div>

    </div>
  </div>
</section>
<img
  src="{{ 'vague-desktop-violet.svg' |asset_url }}"
  class="w-full img-center object-cover sm:block hidden mb-[-2px]"
  alt=""
  loading="lazy"
  width="auto"
  height="auto">
<img
  src="{{ 'Vague-Mobile-violet.svg' |asset_url }}"
  class="w-full img-center object-cover sm:hidden block mb-[-2px]"
  alt=""
  loading="lazy"
  width="auto"
  height="auto">