<style>
  body{
    background-color: white !important;
  }
</style>
<section class="main-cats">

  <section class="flex mt-12 text-_main_color_dark mb-[80px] desktop-width">
    <div class="flex flex-col w-full gap-4 right-side">
      <div class="sm:px-0 px-[20px]">

        <div class="banner-collection-section relative z-10 rounded-t-lg bg-_chocolat_dark mb-[40px] desktop-width">
          <div class="content relative z-20 sm:pt-[76px] pt-[50px] sm:pb-[95px] pb-[62px] sm:ps-[318px] ps-4">
            <h1 class="title-white !text-start">{{ collection.title }}</h1>
            <span class="font-bold block sm:w-full w-[9rem] sm:text-base text-xs text-_orange_color">FAIBLE INDICE GLYCÉMIQUE</span>
          </div>
          <div class="img-form-collection absolute bottom-0 left-0 w-full z-0">
            <img class="sm:block hidden" src="{{ 'form_banner_collection.svg' |  asset_url }}" alt="form_banner" width="100%" height="auto">
            <img class="sm:hidden block" src="{{ 'form_banner_collection_mobile.svg' |  asset_url }}" alt="form_banner" width="auto" height="auto">
          </div>
          <div class="img-form-explosion absolute sm:right-[47px] right-0 top-[-34px]">
            <img class="sm:w-full w-[14.3rem]" src="{{ 'explosion_chocolat.png' |  asset_url }}" alt="explosion" width="auto" height="auto">
          </div>
        </div>

        {% comment %} <p class="mb-8">{{ collection.metafields.custom.teasing_title }}</p> {% endcomment %}

        {%- paginate collection.products by section.settings.products_per_page -%}
          <div id="collection-products-container" class="flex flex-wrap items-center justify-between gap-2 sm:gap-8">
            {% for product in collection.products %}
            {% comment %} getting rating value {% endcomment %}
            {%- assign rates = product.metafields.reviews.rating.value | split: '.' -%}
            {%- assign n = rates | first | plus: 0 -%}

            <div class="content-item sm:w-auto w-[9rem] text-sm">
              <a href="{{ product.url }}"
                class="item text-[12px] max-w-[230px] w-full m-1 flex flex-col gap-1">
                <div class="w-full img">
                  <img src="{{ product |image_url: width: 600, height: 600 }}" alt="La gourmande aux noisettes"
                    class="w-full" width="auto" height="auto" loading="lazy">
                </div>
                <p class="font-semibold w-[10rem] mt-2">{{ product.title }}</p>
                <div class="avis flex gap-2 h-[1.1rem] mb-2">
                  <div class="flex text-sm stars text-_main_color_dark">
                    {% if product.metafields.reviews.rating_count != null %}
                    {%- for i in (1..5) -%}
                    {%- if i <= n -%} <i class="fas fa-star"></i>
                      {%- else -%}
                      <i class="fa-regular fa-star"></i>
                      {%- endif -%}
                      {%- endfor -%}
                      {%- endif -%}
                  </div>
                  <span class="border-_main_color_dark border-b-2 text-[11px]">
                    {% if product.metafields.reviews.rating_count == null %}
                    Soyez le 1er à noter!
                    {% else %}
                    {{ product.metafields.reviews.rating_count }} avis
                    {% endif %}
                  </span>
                </div>
                <p class="font-medium">
                  {% if product.compare_at_price %}
                  <span id="promo-price" class="pe-[7px]">
                    {{ product.compare_at_price | money_without_currency
                    }}€
                  </span>
                  {% endif %}
                  <span>À partir de {{ product.price | divided_by: 100.00 }} €</span>
                </p>
              </a>
            </div>
            {% endfor %}
          </div>

          <div class="pagination">
            {%- if paginate.pages > 1 -%}
              {% render 'pagination', paginate: paginate, anchor: '' %}
            {%- endif -%}
          </div>
        {%- endpaginate -%}
      </div>
    </div>
  </section>

  {% render 'bh-filter-modal' %}
</section>

{% schema %}
  {
    "name": "Main collections",
    "tag": "section",
    "class": "main-collections-products",
    "settings": [
      {
        "type": "text",
        "id": "products_per_page",
        "label": "Products per page",
        "default": "12"
      }
    ]
  }
{% endschema %}