<script src="{{ 'customer.js' | asset_url }}" defer></script>

{% assign addresses = customer.addresses.size %}
<div class="mt-20">
  <div class="content sm:mx-[4rem] mx-[20px] mb-[7rem]">
    <div>
        <h1 class="font-outfit text-black sm:text-[60px] text-[40px] font-bold sm:leading-[4rem] leading-[3rem] mb-[40px]">Bienvenu(e), <br><span class="text-_main_color_light">{{ customer.first_name }} {{ customer.last_name }}</span></h1>
    </div>

    <div class="address">
        <h2 class="font-semibold text-_main_color_dark text-[24px] mb-4">Adresses </h2>
        <div id="address-content" class="form-address">
            <div class="address-items text-[#565656] text-sm font-medium flex flex-wrap gap-4 sm:justify-normal justify-center">
              {%- for address in customer.addresses -%}
                <div class="address-item">
                    <div class="item-content flex items-center gap-2">
                        <input type="checkbox" class="checkbox-round checked:!bg-_orange_color !border-_orange_color" id="item-{{ address.id }}" {% if address == customer.default_address  %}
                          checked
                        {% endif %} >
                        <label for="item-{{ address.id }}" class="text-[#565656] flex flex-col gap-1 max-w-[12rem] p-2 address-shadow cursor-pointer rounded-md">
                            <p class="capitalize">{{ customer.first_name }} {{ customer.last_name }} </p>
                            <p>{{ address.address1 }} </p>
                            <p>{{ address.address1 }}</p>
                            <p>{{ address.city }}</p>
                            <p>{{ address.phone }}</p>
                        </label>
                    </div>
                    <div class="flex flex-col gap-3 items-center mb-4 mt-[24px] text-_main_color_dark">
                        <p id="btn-edit" data-id="{{ address.id }}" class="cursor-pointer font-medium border-b border-_main_color_dark pb-[2px] w-[9rem] text-center">Modifier l’adresse</p>
                        <button type="button" data-target="{{ address.url }}" data-confirm-message="Êtes-vous certain(e) de vouloir supprimer cette adresse ?" aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}" class="font-medium border-b border-_main_color_dark pb-[2px] w-[10.2rem] text-center">
									Supprimer l’adresse
								</button>
                    </div>
                </div>

                <div class="hidden">
                  {%- form 'customer_address', address -%}
                    <div id="form-edit-address-{{ address.id }}" class="mt-8">
                      <h4 class="text-[24px] font-semibold text-_main_color_dark mb-8">Modifier l'adresse</h4>
                      <div class="form-content w-full  flex flex-col items-center gap-4">
                          <div class="flex gap-4 flex-wrap sm:flex-nowrap w-full">
                              <div class="item w-full">
                                  <input value="{{ form.first_name }}" value="1er address" class="input focus:border-_orange_color transition-all duration-300" type="text" placeholder="Nom*" name="address[first_name]" required>
                              </div>
                              <div class="item w-full">
                                  <input value="{{ form.last_name }}" class="input focus:border-_orange_color transition-all duration-300" type="text" placeholder="Prénom*" name="address[last_name]" required>
                              </div>
                          </div>
                          <div class="item w-full">
                              <input value="{{ form.address1 }}" type="text" placeholder="Addresse*" class="input focus:border-_orange_color transition-all duration-300" name="address[address1]" >
                          </div>
                          <div class="flex gap-4 flex-wrap sm:flex-nowrap w-full">
                              <div class="item w-full">
                                  <input value="{{ form.address2 }}" class="input focus:border-_orange_color transition-all duration-300" type="text" placeholder="Complément d’adresse" name="address[address2]" required>
                              </div>
                              <div class="item w-full">
                                  <input value="{{ form.city }}" class="input focus:border-_orange_color transition-all duration-300" type="text" placeholder="Ville*" name="address[city]" required>
                              </div>
                          </div>
                          <div class="flex gap-4 flex-wrap sm:flex-nowrap w-full">
                              <div class="item w-full">
                                  <input value="{{ form.zip }}" class="input focus:border-_orange_color transition-all duration-300" type="text" placeholder="Code postal*" name="address[zip]" required>
                              </div>
                              <div class="item w-full">
                                    <select
                                            class="px-3 ps-2 h-10 w-full border border-[#999] outline-none text-[#999]"
                                            id="AddressCountryNew"
                                            name="address[country]"
                                            data-default="{{ form.country }}"
                                            autocomplete="country"
                                            >
                                            {{ all_country_option_tags }}
                                    </select>
                              </div>
                          </div>
                          <div class="item flex gap-4 flex-wrap sm:flex-nowrap w-full">
                              <div class="item w-full">
                                  <input value="{{ form.phone }}" type="tel" placeholder="Téléphone*" class="input focus:border-_orange_color transition-all duration-300" name="address[phone]" >
                              </div>
                              <div class="item w-full"></div>
                          </div>
								  <div class="filter-item relative flex gap-4 w-full">
										<i class="fa-solid fa-check"></i>
										<input type="checkbox" name="address[default]" id="default" class="checkbox">
										<label for="default" class="hover:cursor-pointer">Définir comme adresse par défaut</label>
									</div>
                          <div class="w-full flex gap-[10px] justify-around mt-[80px] mb-[5rem]">
                              <button type="submit" class="btn !p-0">Continuer</button>
                              <button type="reset" id="btn-reset-edit-{{ address.id }}" class="btn !p-0">Annuler</button>
                          </div>
                      </div>
                  </div>
                  {%- endform -%}
                </div>
              {% endfor %}
            </div>

            <div id="forms-container">
               {% comment %} addresses forms content {% endcomment %}
            </div>
        </div>
        <div class="my-8 flex sm:justify-normal justify-center">
            <button type="button" id="btn-open-addresse-form" class="btn !p-0">Ajouter une adresse</button>
        </div>

        <div id="form-add-address" class="mt-8 hidden">
          {%- form 'customer_address', customer.new_address, aria-labelledBy: 'AddressNewHeading' -%}
              <h4 class="text-[24px] font-semibold text-_main_color_dark mb-8">Nouvelle adresse</h4>
              <div class="form-content w-full  flex flex-col items-center gap-4">
                <div class="flex gap-4 flex-wrap sm:flex-nowrap w-full">
                  <div class="item w-full">
                      <input required value="{{ form.first_name }}" value="1er address" class="input focus:border-_orange_color transition-all duration-300" type="text" placeholder="Nom*" name="address[first_name]" required>
                  </div>
                  <div class="item w-full">
                      <input required value="{{ form.last_name }}" class="input focus:border-_orange_color transition-all duration-300" type="text" placeholder="Prénom*" name="address[last_name]" required>
                  </div>
              </div>
              <div class="item w-full">
                  <input value="{{ form.address1 }}" type="text" placeholder="Addresse*" class="input focus:border-_orange_color transition-all duration-300" name="address[address1]" >
              </div>
              <div class="flex gap-4 flex-wrap sm:flex-nowrap w-full">
                  <div class="item w-full">
                      <input  value="{{ form.address2 }}" class="input focus:border-_orange_color transition-all duration-300" type="text" placeholder="Complément d’adresse" name="address[address2]" required>
                  </div>
                  <div class="item w-full">
                      <input  value="{{ form.city }}" class="input focus:border-_orange_color transition-all duration-300" type="text" placeholder="Ville*" name="address[city]" required>
                  </div>
                  <div class="item hidden">
                    <input value="none" class="" type="text" name="address[company]">
                </div>
              </div>
              <div class="flex gap-4 flex-wrap sm:flex-nowrap w-full">
                  <div class="item w-full">
                      <input value="{{ form.zip }}" class="input focus:border-_orange_color transition-all duration-300" type="text" placeholder="Code postal*" name="address[zip]" required>
                  </div>
						<div class="item w-full">
							<select
									class="px-3 ps-2 h-10 w-full border border-[#999] outline-none text-[#999]"
									id="AddressCountryNew"
									name="address[country]"
									data-default="{{ form.country }}"
									autocomplete="country"
									>
									{{ all_country_option_tags }}
							</select>
						</div>
              </div>

              <div class="flex gap-4 flex-wrap sm:flex-nowrap w-full">
                  <div class="item w-full">
                      <input value="{{ form.phone }}" type="tel" placeholder="Téléphone*" class="input focus:border-_orange_color transition-all duration-300" name="address[phone]" required>
                  </div>
                  <div class="item w-full"></div>
              </div>
              <div class="filter-item relative flex gap-4 w-full">
                  <i class="fa-solid fa-check"></i>
                  <input type="checkbox" name="address[default]" id="default" class="checkbox">
                  <label for="default" class="hover:cursor-pointer">Définir comme adresse par défaut</label>
              </div>
              <div class="w-full flex gap-[10px] justify-around mt-[80px] mb-[5rem]">
                  <button type="submit" class="btn !p-0">Ajouter l’adresse</button>
                  <button type="reset" id="btn-reset" class="btn !p-0">Annuler</button>
              </div>
          {%- endform -%}
        </div>

        <div class="sm:mt-[15rem] mt-16 sm:mb-[10rem] mb-8 hidden sm:flex gap-[5px] items-center">
            <img src="{{ 'Deconnexion.svg' | asset_url }}" alt="">
            <a href="{{ routes.account_logout_url }}" class="text-[#EA4038] sm:text-[22px] text-sm font-semibold">Déconnexion</a>
          </div>
    </div>

    
</div>
<style>
    #form-address .checkbox-round {
        box-shadow: 0px 0px 0px 2px white inset !important;
    }
</style>
