<style>
    body{
      background-color: white !important;
    }
    .partenaire-main-page .left-side{
      border-radius: 16px;
      background: linear-gradient(180deg, rgba(255, 121, 37, 0.95) 0%, #BD4902 100%);
    }
    .partenaire-main-page .right-side label{
      color: #456073;
    }
    .mobile-content{
      border-radius: 8px;
      background: linear-gradient(90deg, rgba(255, 121, 37, 0.95) 0%, #BD4902 100%);
    }
    .content-partenaire-main-page{
      border-radius: 8px;
      box-shadow: 4px 4px 3px 0px rgba(86, 17, 149, 0.15);
    }
    #title-left span{
      background-color: #561195;
    }
</style>
<div class="partenaire-main-page text-_main_color_dark sm:mt-20 mt-[40px] sm:px-[89px] px-[20px]">
  <div class="content-partenaire-main-page flex sm:flex-row flex-col gap-[40px] mb-[50px]">
    <div class="left-side sm:w-[388px] w-full sm:px-8 px-0">
      <div class="desktop-content sm:block hidden">
        <h3 id="title-left" class="title-white sm:mt-[215px] mt-0">
          {{ section.settings.title-left }}
        </h3>
        <div class="img sm:mt-[104px] mt-0 sm:static absolute top-0 right-0">
          <img src="{{ 'sachet_chocolat.svg' | asset_url }}" alt="sachet_chocolat" height="auto" width="100%">
        </div>
      </div>
      <div class="mobile-content relative sm:hidden block ps-[24px] py-[10px] pe-[10px]">
        <h3 class="font-litle text-white text-lg font-extrabold w-[10rem] text-center leading-[1.3]">
          {{ section.settings.title-left }}
        </h3>
        <div class="img absolute top-[-23px] right-[44px]">
          <img class=" w-[100px]" src="{{ 'sachet_chocolat.svg' | asset_url }}" alt="sachet_chocolat" height="auto" width="100%">
        </div>
      </div>
    </div>
    <div class="right-side pb-[10rem]">
      <h1 class="title mb-[12px]">{{ section.settings.title }} </h1>
      <p class="text-center  text-sm mb-8">
        {{ section.settings.title-secondary }}
      </p>
      {% form 'contact', class: "sm:max-w-[40rem] max-w-[100%] mx-auto w-full  flex flex-col items-center sm:gap-[30px] gap-4", id: "form-partenaire" %}
        {{ form.errors | default_errors }}
          <div class="flex gap-4 flex-wrap sm:flex-nowrap w-full">
            <div class="item w-full">
              <input
                type="hidden"
                name="contact[objet]"
                value=""
                id="sujetFormContact">
              <label for="nom" class="text-xs font-semibold text-[#456073]">Nom</label>
              <input
                class="input focus:border-_orange_color transition-all duration-300"
                type="text"
                placeholder="Nom*"
                name="contact[nom]"
                id="nom"
                required>
            </div>
            <div class="item w-full">
              <label for="prenom" class="text-xs font-semibold text-[#456073]">Prenom</label>
              <input
                class="input focus:border-_orange_color transition-all duration-300"
                type="text"
                placeholder="Prénom*"
                name="contact[prenom]"
                id="prenom"
                required>
            </div>
          </div>
          <div class="flex gap-4 flex-wrap sm:flex-nowrap w-full">
            <div class="item w-full">
              <label for="tel" class="text-xs font-semibold text-[#456073]">Numéro de téléphone</label>
              <input
                class="input focus:border-_orange_color transition-all duration-300"
                type="tel"
                placeholder="Numéro de téléphone*"
                name="contact[tel]"
                id="tel"
                required>
            </div>
            <div class="item w-full">
              <label for="email" class="text-xs font-semibold text-[#456073]">Addresse email</label>
              <input
                class="input focus:border-_orange_color transition-all duration-300"
                type="email"
                placeholder="Adresse mail*"
                name="contact[email]"
                required>
            </div>
          </div>
          <div class="flex gap-4 w-full">
            <div class="item w-full">
              <label for="ville" class="text-xs font-semibold text-[#456073]">Ville local ou commercial</label>
              <input
                class="input focus:border-_orange_color transition-all duration-300"
                type="text"
                placeholder="Ville du local commercial*"
                name="contact[ville]"
                id="ville"
                required>
            </div>
            <div class="item w-full">
              <label for="postal" class="text-xs font-semibold text-[#456073]">Code postal</label>
              <input
                class="input focus:border-_orange_color transition-all duration-300"
                type="text"
                placeholder="Code postal*"
                name="contact[code_postale]"
                id="postal"
                required>
            </div>
          </div>
          <div class="item self-start w-full">
            <div class="accordions">
              <button
                type="button"
                id="btn-accordion"
                class="rounded-md w-full px-3 ps-2 h-10  border border-[#999] flex justify-between items-center">
                <span id="layout" class="text-[#999]">Choisissez un sujet*
                </span>
                <i class="fa-sharp fa-solid fa-chevron-down"></i>
              </button>
              <div class="panel panel-selected hidden" id="panel-partenaire">
                <ul>
                  <li data-value="Devenir ambassadeur">Devenir ambassadeur</li>
                  <li data-value="Communication et relation presse">Communication / Relation presse</li>
                  <li data-value="Proposer un évènement ou une collaboration">Proposer un évènement / une collab’</li>
                  <li class="selected" data-value="Devenir revendeur">Devenir revendeur</li>
                  <li data-value="Autre" class="rounded-b-[5px]">Autre</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item w-full">
            <textarea
              class="border rounded-[5px] border-[#999] w-full ps-4"
              name="contact[body]"
              id=""
              rows="10"
              placeholder="Dites nous tout !  "></textarea>
          </div>
          <div class="flex flex-col items-center">
            <button
              id="btn-partenaire"
              type="submit"
              class="btn-red mb-4 py-2 px-[5rem] text-white">Envoyer</button>
          </div>
      {% endform %}
      <p class="mt-4 text-center text-[#565656]">En poursuivant, vous acceptez toutes les conditions générales 
        d’utilisations et notre politique de confidentialité
      </p>
    </div>
  </div>
</div>
<!-- notification -->
<div id="notif-partenaire" class="hidden fixed top-[14rem] w-full">
    <div class="bg-notif img-center rounded-md p-4 sm:mx-[8rem] mx-4">
      <div class="flex justify-end mb-8">
        <p id="close-notif-partenaire" class="text-end font-bold hover:cursor-pointer border-b-2 border-_main_color_dark">
          <i class="fas fa-xmark text-[1.5rem]"></i>
          <span>Fermer</span>
        </p>
      </div>


      <p class="text-white">Super, nous avons bien pris en compte ta demande, on revient vers toi dans les 48h ! (le temps de prendre un café, sortir le chien…) <br><br>
        Cordialement
      </p>
      <h2 class="text-white font-bold text-lg">Bahwai family</h2>
    </div>
  </div>

<div class="rte">
  {{ page.content }}
</div>

{% schema %}
  {
    "name": "Partenaire section",
    "tag": "section",
    "class": "partenaire-section",
    "settings": [
      {
          "type": "text",
          "id": "title",
          "label": "Titre",
          "default": "Devenir partenaire"
      },
      {
          "type": "html",
          "id": "title-secondary",
          "label": "Titre secondaire",
          "default": "Envie de rejoindre l’aventure Bahwai ? <br> Votre candidature sera analysée avec soin et transparence."
      },
      {
          "type": "html",
          "id": "title-left",
          "label": "Titre a gauche",
          "default": "Nos snacking très <span>gourmand</span> sans prise de <span>poids</span>"
      }
    ]
  }
{% endschema %}