{% assign addresses = customer.addresses.size %}
<div class="mt-20">
  <div class="content sm:mx-[4rem] mx-[20px] mb-[7rem]">
    <div>
        <h1 class="font-outfit text-black sm:text-[60px] text-[40px] font-bold sm:leading-[4rem] leading-[3rem] mb-[40px]">Bienvenu(e), <br><span class="text-_main_color_light">Mamadou Alliou</span></h1>
    </div>

    <div class="address">
        <h2 class="font-semibold text-_main_color_dark text-[24px] mb-4">Adresses </h2>
        <div id="form-address" class="form-address">
            <div class="address-items text-[#565656] text-sm font-medium flex flex-wrap gap-4 sm:justify-normal justify-center">
              {%- for address in customer.addresses -%}
                <div class="item">
                    <div class="item-content flex items-center gap-2">
                        <input type="checkbox" class="checkbox-round checked:!bg-_orange_color !border-_orange_color" id="1" {% if address == customer.default_address  %}
                          checked
                        {% endif %} >
                        <label for="1" class="flex flex-col gap-1 max-w-[12rem] p-2 address-shadow cursor-pointer rounded-md">
                            <p class="capitalize">{{ customer.first_name }} {{ customer.last_name }} </p>
                            <p>{{ address.address1 }} </p>
                            <p>{{ address.address1 }}</p>
                            <p>{{ address.city }}</p>
                            <p>{{ address.phone }}</p>
                        </label>
                    </div>
                    <div class="flex flex-col gap-3 items-center mb-4 mt-[24px] text-_main_color_dark">
                        <p id="edit-1" class="cursor-pointer font-medium border-b border-_main_color_dark pb-[2px] w-[9rem] text-center">Modifier l’adresse</p>
                        <a href="#" class="font-medium border-b border-_main_color_dark pb-[2px] w-[10.2rem] text-center">Supprimer l’adresse</a>
                    </div>
                </div>

                <div id="forms-container" class="hidden">
                  {%- form 'customer_address', address -%}
                    <div id="form-edit-address-{{ form.id }}" class="mt-8">
                      <h4 class="text-[24px] font-semibold text-_main_color_dark mb-8">Modifier l'adresse</h4>
                      <div class="form-content w-full  flex flex-col items-center gap-4">
                          <div class="flex gap-4 flex-wrap sm:flex-nowrap w-full">
                              <div class="item w-full">
                                  <input value="{{ form.first_name }}" value="1er address" class="input focus:border-_orange_color transition-all duration-300" type="text" placeholder="Nom*" name="address[first_name]" required>
                              </div>
                              <div class="item w-full">
                                  <input value="{{ form.last_name }}" class="input focus:border-_orange_color transition-all duration-300" type="text" placeholder="Prénom*" name="address[last_name]" required>
                              </div>
                          </div>
                          <div class="item w-full">
                              <input value="{{ form.address1 }}" type="text" placeholder="Addresse*" class="input focus:border-_orange_color transition-all duration-300" name="address[address1]" >
                          </div>
                          <div class="flex gap-4 flex-wrap sm:flex-nowrap w-full">
                              <div class="item w-full">
                                  <input value="{{ form.address2 }}" class="input focus:border-_orange_color transition-all duration-300" type="text" placeholder="Complément d’adresse" name="address[address2]" required>
                              </div>
                              <div class="item w-full">
                                  <input value="{{ form.city }}" class="input focus:border-_orange_color transition-all duration-300" type="text" placeholder="Ville*" name="address[city]" required>
                              </div>
                          </div>
                          <div class="flex gap-4 flex-wrap sm:flex-nowrap w-full">
                              <div class="item w-full">
                                  <input value="{{ form.zip }}" class="input focus:border-_orange_color transition-all duration-300" type="text" placeholder="Code postal*" name="address[zip]" required>
                              </div>
                              <div class="item w-full">
                                  <input value="{{ form.contry }}" class="input focus:border-_orange_color transition-all duration-300" type="text" placeholder="Pays/région*" name="address[country]" required>
                              </div>
                          </div>
                          <div class="item flex gap-4 flex-wrap sm:flex-nowrap w-full">
                              <div class="item w-full">
                                  <input value="{{ form.phone }}" type="tel" placeholder="Téléphone*" class="input focus:border-_orange_color transition-all duration-300" name="address[phone]" >
                              </div>
                              <div class="item w-full"></div>
                          </div>
                          <div class="w-full flex gap-[10px] justify-around mt-[80px] mb-[5rem]">
                              <button type="submit" class="btn !p-0">Continuer</button>
                              <button type="reset" id="btn-reset-edit-1" class="btn !p-0">Annuler</button>
                          </div>
                      </div>
                  </div>
                  {%- endform -%}
                </div>
              {% endfor %}
            </div>

            <div class="forms-container hidden" >
                <div id="form-edit-address-1" class="mt-8">
                    <h4 class="text-[24px] font-semibold text-_main_color_dark mb-8">Modifier l'adresse</h4>
                    <div class="form-content w-full  flex flex-col items-center gap-4">
                        <div class="flex gap-4 flex-wrap sm:flex-nowrap w-full">
                            <div class="item w-full">
                                <input value="1er address" class="input focus:border-_orange_color transition-all duration-300" type="text" placeholder="Nom*" name="address[first_name]" required>
                            </div>
                            <div class="item w-full">
                                <input class="input focus:border-_orange_color transition-all duration-300" type="text" placeholder="Prénom*" name="address[last_name]" required>
                            </div>
                        </div>
                        <div class="item w-full">
                            <input type="text" placeholder="Addresse*" class="input focus:border-_orange_color transition-all duration-300" name="address[address1]" >
                        </div>
                        <div class="flex gap-4 flex-wrap sm:flex-nowrap w-full">
                            <div class="item w-full">
                                <input class="input focus:border-_orange_color transition-all duration-300" type="text" placeholder="Complément d’adresse" name="address[address2]" required>
                            </div>
                            <div class="item w-full">
                                <input class="input focus:border-_orange_color transition-all duration-300" type="text" placeholder="Ville*" name="address[city]" required>
                            </div>
                        </div>
                        <div class="flex gap-4 flex-wrap sm:flex-nowrap w-full">
                            <div class="item w-full">
                                <input class="input focus:border-_orange_color transition-all duration-300" type="text" placeholder="Code postal*" name="address[zip]" required>
                            </div>
                            <div class="item w-full">
                                <input class="input focus:border-_orange_color transition-all duration-300" type="text" placeholder="Pays/région*" name="address[country]" required>
                            </div>
                        </div>
                        <div class="item flex gap-4 flex-wrap sm:flex-nowrap w-full">
                            <div class="item w-full">
                                <input type="tel" placeholder="Téléphone*" class="input focus:border-_orange_color transition-all duration-300" name="address[phone]" >
                            </div>
                            <div class="item w-full"></div>
                        </div>
                        <div class="w-full flex gap-[10px] justify-around mt-[80px] mb-[5rem]">
                            <button type="submit" class="btn !p-0">Continuer</button>
                            <button type="reset" id="btn-reset-edit-1" class="btn !p-0">Annuler</button>
                        </div>
                    </div>
                </div>
                <div id="form-edit-address-2" class="mt-8 ">
                    <h4 class="text-[24px] font-semibold text-_main_color_dark mb-8">Modifier l'adresse</h4>
                    <div class="form-content w-full  flex flex-col items-center gap-4">
                        <div class="flex gap-4 flex-wrap sm:flex-nowrap w-full">
                            <div class="item w-full">
                                <input value="2em address" class="input focus:border-_orange_color transition-all duration-300" type="text" placeholder="Nom*" name="address[first_name]" required>
                            </div>
                            <div class="item w-full">
                                <input class="input focus:border-_orange_color transition-all duration-300" type="text" placeholder="Prénom*" name="address[last_name]" required>
                            </div>
                        </div>
                        <div class="item w-full">
                            <input type="text" placeholder="Addresse*" class="input focus:border-_orange_color transition-all duration-300" name="address[address1]" >
                        </div>
                        <div class="flex gap-4 flex-wrap sm:flex-nowrap w-full">
                            <div class="item w-full">
                                <input class="input focus:border-_orange_color transition-all duration-300" type="text" placeholder="Complément d’adresse" name="address[address2]" required>
                            </div>
                            <div class="item w-full">
                                <input class="input focus:border-_orange_color transition-all duration-300" type="text" placeholder="Ville*" name="address[city]" required>
                            </div>
                        </div>
                        <div class="flex gap-4 flex-wrap sm:flex-nowrap w-full">
                            <div class="item w-full">
                                <input class="input focus:border-_orange_color transition-all duration-300" type="text" placeholder="Code postal*" name="address[zip]" required>
                            </div>
                            <div class="item w-full">
                                <input class="input focus:border-_orange_color transition-all duration-300" type="text" placeholder="Pays/région*" name="address[country]" required>
                            </div>
                        </div>
                        <div class="item flex gap-4 flex-wrap sm:flex-nowrap w-full">
                            <div class="item w-full">
                                <input type="tel" placeholder="Téléphone*" class="input focus:border-_orange_color transition-all duration-300" name="address[phone]" >
                            </div>
                            <div class="item w-full"></div>
                        </div>
                        <div class="w-full flex gap-[10px] justify-around mt-[80px] mb-[5rem]">
                            <button type="submit" class="btn !p-0">Continuer</button>
                            <button type="reset" id="btn-reset-edit" class="btn !p-0">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-8 flex sm:justify-normal justify-center">
            <button type="button" id="btn-open-addresse-form" class="btn !p-0">Ajouter une adresse</button>
        </div>

        <div id="form-add-address" class="mt-8 hidden">
          {%- form 'customer_address', customer.new_address, aria-labelledBy: 'AddressNewHeading' -%}
              <h4 class="text-[24px] font-semibold text-_main_color_dark mb-8">Nouvelle adresse</h4>
              <div class="form-content w-full  flex flex-col items-center gap-4">
                <div class="flex gap-4 flex-wrap sm:flex-nowrap w-full">
                  <div class="item w-full">
                      <input required value="{{ form.first_name }}" value="1er address" class="input focus:border-_orange_color transition-all duration-300" type="text" placeholder="Nom*" name="address[first_name]" required>
                  </div>
                  <div class="item w-full">
                      <input required value="{{ form.last_name }}" class="input focus:border-_orange_color transition-all duration-300" type="text" placeholder="Prénom*" name="address[last_name]" required>
                  </div>
              </div>
              <div class="item w-full">
                  <input value="{{ form.address1 }}" type="text" placeholder="Addresse*" class="input focus:border-_orange_color transition-all duration-300" name="address[address1]" >
              </div>
              <div class="flex gap-4 flex-wrap sm:flex-nowrap w-full">
                  <div class="item w-full">
                      <input  value="{{ form.address2 }}" class="input focus:border-_orange_color transition-all duration-300" type="text" placeholder="Complément d’adresse" name="address[address2]" required>
                  </div>
                  <div class="item w-full">
                      <input  value="{{ form.city }}" class="input focus:border-_orange_color transition-all duration-300" type="text" placeholder="Ville*" name="address[city]" required>
                  </div>
                  <div class="item hidden">
                    <input value="none" class="" type="text" name="address[company]">
                </div>
              </div>
              <div class="flex gap-4 flex-wrap sm:flex-nowrap w-full">
                  <div class="item w-full">
                      <input value="{{ form.zip }}" class="input focus:border-_orange_color transition-all duration-300" type="text" placeholder="Code postal*" name="address[zip]" required>
                  </div>
						<div class="item w-full">
							<select
									id="AddressCountryNew"
									name="address[country]"
									data-default="{{ form.country }}"
									autocomplete="country"
									>
									{{ all_country_option_tags }}
							</select>
						</div>
              </div>

              <div class="flex gap-4 flex-wrap sm:flex-nowrap w-full">
                  <div class="item w-full">
                      <input value="{{ form.phone }}" type="tel" placeholder="Téléphone*" class="input focus:border-_orange_color transition-all duration-300" name="address[phone]" required>
                  </div>
                  <div class="item w-full"></div>
              </div>
              <div class="filter-item relative flex gap-4 w-full">
                  <i class="fa-solid fa-check"></i>
                  <input type="checkbox" name="address[default]" id="default" class="checkbox">
                  <label for="default" class="hover:cursor-pointer">Définir comme adresse par défaut</label>
              </div>
              <div class="w-full flex gap-[10px] justify-around mt-[80px] mb-[5rem]">
                  <button type="submit" class="btn !p-0">Ajouter l’adresse</button>
                  <button type="reset" id="btn-reset" class="btn !p-0">Annuler</button>
              </div>
          {%- endform -%}
        </div>
    </div>

    
</div>
<style>
    #form-address .checkbox-round {
        box-shadow: 0px 0px 0px 2px white inset !important;
    }
</style>
