<main class="main-cats">
  <div style="background-image: url({{ 'bannercategories.png' |asset_url }});" class="banner img-center sm:h-[25rem] h-[17rem]"></div>
  <section class="text-_main_color_dark flex mt-12 desktop-width">
    <div class="left-side sm:flex flex-col gap-4 max-w-[16rem] w-full me-[3rem] ps-8 hidden">
      <form
        action="#"
        method="get"
        id="form-filtre">
        <div class="content flex flex-col gap-3 mb-8">
          <h4 class="font-extrabold text-lg border-b border-gray-500">Objectifs</h4>
          <div class="filter-item relative flex gap-4">
            <i class="fa-solid fa-check"></i>
            <input
              type="checkbox"
              name="perte_poids"
              id="perte"
              class="checkbox">
            <label for="perte" class="hover:cursor-pointer">Perte de poids (2)</label>
          </div>
          <div class="filter-item relative flex gap-4">
            <i class="fa-solid fa-check"></i>
            <input
              type="checkbox"
              name="prise_masse"
              id="masse"
              class="checkbox">
            <label for="masse" class="hover:cursor-pointer">Prise de masse (1)
            </label>
          </div>
          <div class="filter-item relative flex gap-4">
            <i class="fa-solid fa-check"></i>
            <input
              type="checkbox"
              name="controle_poids"
              id="control"
              class="checkbox">
            <label for="control" class="hover:cursor-pointer">Contrôle du poids (2)</label>
          </div>
        </div>
        <div class="content flex flex-col gap-3 mb-8">
          <h4 class="font-extrabold text-lg border-b border-gray-500">Saveurs</h4>
          <div class="filter-item relative flex gap-4">
            <i class="fa-solid fa-check"></i>
            <input
              type="checkbox"
              name="perte_poids"
              id="framboise"
              class="checkbox">
            <label for="framboise" class="hover:cursor-pointer">Framboise (1)</label>
          </div>
          <div class="filter-item relative flex gap-4">
            <i class="fa-solid fa-check"></i>
            <input
              type="checkbox"
              name="prise_masse"
              id="kiwi"
              class="checkbox">
            <label for="kiwi" class="hover:cursor-pointer">Kiwi (1)
            </label>
          </div>
          <div class="filter-item relative flex gap-4">
            <i class="fa-solid fa-check"></i>
            <input
              type="checkbox"
              name="citron_vert"
              id="citron"
              class="checkbox">
            <label for="citron" class="hover:cursor-pointer">Citron vert (2)</label>
          </div>
          <div class="filter-item relative flex gap-4">
            <i class="fa-solid fa-check"></i>
            <input
              type="checkbox"
              name="Fruit"
              id="Fruit"
              class="checkbox">
            <label for="Fruit" class="hover:cursor-pointer">Fruit du dragon (1)
            </label>
          </div>
          <div class="filter-item relative flex gap-4">
            <i class="fa-solid fa-check"></i>
            <input
              type="checkbox"
              name="CBD"
              id="CBD"
              class="checkbox">
            <label for="CBD" class="hover:cursor-pointer">CBD (1)</label>
          </div>
        </div>
        <div class="content flex flex-col gap-3">
          <h4 class="font-extrabold text-lg border-b border-gray-500">À quel moment ?</h4>
          <div class="filter-item relative flex gap-4">
            <i class="fa-solid fa-check"></i>
            <input
              type="checkbox"
              name="perte_poids"
              id="framboise"
              class="checkbox">
            <label for="framboise" class="hover:cursor-pointer">Matin (1)</label>
          </div>
          <div class="filter-item relative flex gap-4">
            <i class="fa-solid fa-check"></i>
            <input
              type="checkbox"
              name="Collation"
              id="Collation"
              class="checkbox">
            <label for="Collation" class="hover:cursor-pointer">Collation (1)
            </label>
          </div>
          <div class="filter-item relative flex gap-4">
            <i class="fa-solid fa-check"></i>
            <input
              type="checkbox"
              name="gouter"
              id="gouter"
              class="checkbox">
            <label for="gouter" class="hover:cursor-pointer">Goûter (2)</label>
          </div>
          <div class="filter-item relative flex gap-4">
            <i class="fa-solid fa-check"></i>
            <input
              type="checkbox"
              name="Soir"
              id="Soir"
              class="checkbox">
            <label for="Soir" class="hover:cursor-pointer">Soir (1)
            </label>
          </div>
        </div>
      </form>
    </div>

    <div class="right-side w-full flex flex-col gap-4 sm:me-8 me-0">
      <div class="sm:px-0 px-[20px]">
        <h1 class="title text-center">{{ collection.title }}</h1>
        <p class="text-center mb-8">Boostez votre journée avec notre canette énergisante naturelle et saine !</p>
        <div class="flex justify-end sm:hidden mb-4">
          <p id="open-filter-modal" class="flex gap-4 border-b text-_main_color_dark border-_main_color_dark hover:cursor-pointer">
            <img src="{{ 'Filtrer.svg' |asset_url }}" alt="">
            <span class="font-medium sm:text-base text-sm">Filtrer</span>
          </p>
        </div>
        <div class="cats-content flex justify-around flex-wrap sm:gap-8 gap-2 items-center">
          {% for product in collection.products %}
            <div class="content-item sm:w-auto w-[9rem] text-sm">
              <a href="{{ product.url }}" class="item text-[12px] max-w-[230px] w-full m-1 flex items-center flex-col gap-1">
                <div class="img w-full">
                  <img
                    src="{{ product |image_url: width: 600, height: 600 }}"
                    alt="La gourmande aux noisettes"
                    class="w-full">
                </div>
                <p class="font-semibold w-[10rem] text-center mt-2">{{ product.title }}</p>
                <div class="avis flex items-center gap-2 h-[1.1rem] mb-2">
                  <div class="stars flex text-_main_color_dark text-sm">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                  <span class="border-_main_color_dark border-b-2 ">26 avis</span>
                </div>
                <p class="font-medium">À partir de {{ product.price }} €
                </p>
              </a>
            </div>
          {% endfor %}
        </div>

        <div class="desc text-sm text-[rgb(86,86,86)] mt-8">
          <h5 class="text-lg font-bold text-_main_color_dark">Boissons Bahwai adapté pour tout type d’objectifs et préparées avec des ingrédients Français</h5>
          <p>Les boissons énergisantes sont devenues une option populaire pour les personnes qui cherchent à stimuler leur énergie et leur concentration. Ces boissons contiennent souvent des ingrédients tels que la caféine, la taurine, le guarana et le ginseng, qui sont connus pour leurs effets stimulants sur le corps.</p>
          <br>
          <p>Les boissons énergisantes peuvent être consommées avant une séance d'entraînement pour améliorer les performances sportives ou pour aider à rester alerte pendant les longues journées de travail. Cependant, il est important de noter que ces boissons peuvent également avoir des effets secondaires, tels que l'insomnie, l'anxiété et la déshydratation.</p>
          <br>
          <p>Lorsque vous cherchez des boissons énergisantes, assurez-vous de lire les étiquettes attentivement pour connaître les ingrédients et les quantités de chaque ingrédient. Recherchez des produits qui contiennent des ingrédients naturels et évitez les boissons qui contiennent des quantités élevées de sucre ou d'autres additifs.</p>
        </div>
      </div>

      <div class="faq mt-8 mb-4 desktop-width">
        <h2 class="title mb-8">F.A.Q</h2>
        <div id="faq-links" class="menu-list flex items-center flex-wrap justify-center gap-2 text-white">
          <a href="#" class="faq-link active screen300:w-[9rem]">Commande & Livraison</a>
          <a href="#" class="faq-link  screen300:w-[9rem]">Nos boissons</a>
        </div>
        <div class="accordions text-_main_color_dark flex flex-col mt-4 mb-16 sm:mx-auto sm:max-w-[30rem] w-full">
          <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-2">
            <button
              type="button"
              id="btn-accordion"
              class="text-start px-4  font-bold flex justify-between w-full">
              <span>Comment modifier ma commande ?
              </span>
              <i class="fas fa-chevron-down transition-transform duration-500"></i>
            </button>
            <div class="panel px-4 pt-2 hidden">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, libero.</p>
            </div>
          </div>
          <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
            <button
              type="button"
              id="btn-accordion"
              class="text-start px-4  font-bold w-full flex justify-between">
              <span>Je me suis trompé d’adresse de livraison
              </span>
              <i class="fas fa-chevron-down transition-transform duration-500"></i>
            </button>
            <div class="panel px-4 pt-2 hidden">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, libero.</p>
            </div>
          </div>
          <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
            <button
              type="button"
              id="btn-accordion"
              class="text-start px-4  font-bold w-full flex justify-between">
              <span>Il me manque un produit dans ma commande</span>
              <i class="fas fa-chevron-down transition-transform duration-500"></i>
            </button>
            <div class="panel px-4 pt-2 hidden">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, libero.</p>
            </div>
          </div>
          <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
            <button
              type="button"
              id="btn-accordion"
              class=" text-start px-4  font-bold w-full flex justify-between">
              <span>Je n’ai pas reçu ma commande</span>
              <i class="fas fa-chevron-down transition-transform duration-500"></i>
            </button>
            <div class="panel px-4 pt-2 hidden">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, libero.</p>
            </div>
          </div>

          <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
            <button
              type="button"
              id="btn-accordion"
              class=" text-start px-4  font-bold w-full flex justify-between">
              <span>Où est ma commande ?
              </span>
              <i class="fas fa-chevron-down transition-transform duration-500"></i>
            </button>
            <div class="panel px-4 pt-2 hidden">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, libero.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>