<style>
  @media screen and (max-width: 640px) {
    .banner-blog {
      background-image: url('{{ 'hero-angagement.png' |asset_url }}');
    }
  }
</style>
<div style="background-image: url('{{ 'hero-engagement.png' |asset_url }}');" class="banner-blog  img-center sm:h-[20rem] h-[14rem]"></div>

<section class="engagment mt-8 mb-4">
  <div class="text-_main_color_dark my-8 mx-8">
    <h2 class="title mb-8">Nos Engagements</h2>
    <p class="mb-1 text-center">Faire des boissons et des encas qui tuent, c’est la base !, mais on voulait faire ça bien alors, on s’est entouré des meilleurs et surtout de ceux qui partagent nos valeurs. Le résultat ?
    </p>
  </div>
  {% render 'bh-site-info' %}

  <div class="w-full text-_main_color_dark">
    <div style="background-image: url('{{ 'banniere-orange.png' |asset_url }}');" class="img-center pb-[52px] sm:px-[40px] px-[24px]">
      <div class="desktop-width">
        <h4 class="title-white py-[40px]">BahWai s’engage pour ta santé !</h4>
        <div class="content flex justify-center gap-[17px] sm:flex-nowrap flex-wrap">
          <div class="item flex items-stretch gap-[17px] bg-white py-[24px] px-4 max-w-[690px] w-full rounded-md">
            <img
              src="{{ 'coeur.svg' |asset_url }}"
              class="img-center w-[24px] self-baseline pt-[3px]"
              alt="">
            <div>
              <h2 class="font-semibold text-lg text-_main_color_light pb-3">Chez nous, on oublie personne, on respecte tout le monde !</h2>
              <p>Nos boissons et encas conviennent à la majorité des régimes alimentaires : sans gluten, végétarien et avec peu ou pas de sucre et un indice glycémique faible pour les diabétiques et tous ceux qui font attention à leur ligne !</p>
            </div>
          </div>
          <div class="item flex items-stretch gap-[17px] bg-white py-[24px] px-4 max-w-[690px] w-full rounded-md">
            <img
              src="{{ 'chaise.svg' |asset_url }}"
              class="img-center w-[24px] self-baseline pt-[3px]"
              alt="">
            <div>
              <h2 class="font-semibold text-lg text-_main_color_light pb-3">Alexia Bouillot, diététicienne nutritionniste de l’équipe de France de hockey sur glace</h2>
              <p>(Rien que ça !), est la gardienne de nos recettes : avec elle, c’est bon, c’est sain et c’est nutritif !</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="background-image: url('{{ 'banniere-blanc.png' |asset_url }}'); "class="img-center pb-[52px] sm:px-[52px] px-[24px]">
      <div class="desktop-width">
        <h4 class="title py-[40px]">BahWai s’engage pour l’environnement !</h4>
        <div class="item flex items-stretch gap-[17px] bg-white py-[24px] px-4 w-full rounded-md ">
          <img
            src="{{ 'globe.svg' |asset_url }}"
            class="img-center w-[24px] self-baseline pt-[3px]"
            alt="">
          <div>
            <h2 class="font-semibold text-lg text-_main_color_light pb-3">BahWai soutient l'environnement
            </h2>
            <p class="">Nous allons chercher nos ingrédients au plus proche de chez nous, en France, pour réduire au maximum notre empreinte carbone. Nous sélectionnons nos partenaires producteurs uniquement parmi ceux qui cultivent dans le respect d’une démarche éco-responsable et durable. On n'a qu’une seule planète, prenons en soin !</p>
          </div>
        </div>
      </div>
    </div>

    <div style="background-image: url('{{ 'banniere-rouge.png' |asset_url }}');" class="img-center pb-[52px] sm:px-[40px] px-[24px]">
      <div class="desktop-width">
        <h4 class="title-white py-[40px]">BahWai s’engage aussi pour ton porte-monnaie !</h4>
        <div class="content flex justify-center gap-[17px] sm:flex-nowrap flex-wrap">
          <div class="item flex items-stretch gap-[17px] bg-white py-[24px] px-4 max-w-[690px] w-full rounded-md">
            <img
              src="{{ 'icon bahwai sm.svg' |asset_url }}"
              class="img-center w-[24px] self-baseline pt-[3px]"
              alt="">
            <div>
              <h2 class="font-semibold text-lg text-_main_color_light pb-3">Abonné(e) BahWai ?</h2>
              <p>Tu fais parti de la famille, alors pour toi c’est - 15 % toute l’année</p>
            </div>
          </div>
          <div class="item flex items-stretch gap-[17px] bg-white py-[24px] px-4 max-w-[690px] w-full rounded-md">
            <img
              src="{{ 'etudiant.svg' |asset_url }}"
              class="img-center w-[24px] self-baseline pt-[3px]"
              alt="">
            <div>
              <h2 class="font-semibold text-lg text-_main_color_light pb-3">Tu es étudiant ?</h2>
              <p>Toi aussi tu as le droit à une réduction permanente de 15% !! Bahwai,
                on sait ce que c’est 😂</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full px-[24px] desktop-width">
      <h2 class="title py-[40px]">BahWai viens voir ce qu’on propose !</h2>
      <p class=" text-center">Rejoignez-nous dans cette aventure et découvrez une nouvelle façon de vous régaler, en prenant soin de vous !
      </p>
    </div>
  </div>



  <div class="flex flex-col items-center mb-[110px] mt-[90px]">
    <a href="{{ collections.all.url }}" class="btn mb-4">Voir nos produits</a>
  </div>
</section>

<div class="rte">
  {{ page.content }}
</div>

{% schema %}
  {
    "name": "main-engagement",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ]
  }
{% endschema %}