<style>
  .hero-aventure {
    background-image: url('{{ 'baniere-aventure.png' |asset_url }}');
  }
  @media screen and (max-width: 641px) {
    .hero-aventure {
      background-image: url('{{ 'baniere-aventure-sm.png' |asset_url }}');
    }
  }
  .left-intro-section {
    max-width: 66%;
  }
  @media screen and (max-width: 1167px) {
    .left-intro-section {
      max-width: none;
      width: 100%;
    }
    .img-aventure-1 {
      display: none;
    }
    .img-aventure-1-sm {
      display: block;
    }
    .img-aventure-2 {
      display: none;
    }
    .img-aventure-2-sm {
      display: block;
    }
  }
</style>
<section class="aricle-main text-_main_color_dark">
  <div class="hero-aventure h-[500px] mb-[40px] img-center"></div>
  <div class="content mx-[40px] ">
    <h1 class="title mb-3">L'aventure BahWai</h1>
    <div class="intro-section flex gap-[5rem] mb-[80px] desktop-width">
      <div class="left-intro-section flex flex-col items-center text-_main_color_dark font-normal sm">
        <p class="mb-[30px]">
          L'aventure Bahwai a débuté sous le nom de Nutrigems, avec une vision claire en tête : offrir des solutions pratiques pour améliorer la santé et le bien-être de nos clients grâce à une nutrition équilibrée et des produits de qualité supérieure. Nous avons travaillé dur pour développer des produits nutritionnels innovants, conçus pour apporter des bienfaits réels à la santé.
        </p>
        <img
          class="hidden img-aventure-1-sm"
          src="{{ 'img-aventure-1.png' | asset_url }}"
          alt="image cannette bahwai"
          loading="lazy"
          width="auto"
          height="auto">
        <p class="mt-[30px]">
          Au fil du temps, nous avons reçu de précieux retours de nos clients, qui ont été ravis de la qualité et des bienfaits de nos produits, mais qui ont exprimé un souhait commun : ils souhaitaient que notre gamme de produits soit encore plus gourmande et savoureuse, sans compromettre les bienfaits pour la santé. Vos commentaires sincères et passionnés ont été la source d'inspiration qui nous a poussés à aller plus loin.
        </p>
      </div>
      <div class="right img-aventure-1">
        <img
          class=""
          src="{{ 'img-aventure-1.png' |asset_url }}"
          alt="image nutrigems"
          loading="lazy"
          width="auto"
          height="auto">
      </div>
    </div>
  </div>
  <img
    src="{{ 'vague-desktop-violet.svg' |asset_url }}"
    class="w-full img-center object-cover sm:block hidden mb-[-2px]"
    alt=""
    loading="lazy"
    width="auto"
    height="auto">
  <img
    src="{{ 'Vague-Mobile-violet.svg' |asset_url }}"
    class="w-full img-center object-cover sm:hidden block mb-[-2px]"
    alt=""
    loading="lazy"
    width="auto"
    height="auto">

  <div class="naissance-section img-center pt-[100px] pb-[6rem] mb-[-2rem] px-[40px] bg-_main_color_light">
    <h2 class="title-white mb-[40px]">La naissance de Bahwai</h2>
    <div class="content flex gap-3 items-center desktop-width">
      <img
        class="img-aventure-2 me-[100px] block"
        src="{{ 'img-aventure-2.png' |asset_url }}"
        alt="image cannette bahwai"
        loading="lazy"
        width="auto"
        height="auto">
      <div class="right flex flex-col items-center text-white font-normal">
        <p class="mb-[30px]">
          C'est ainsi qu'est née Bahwai ! Forts de vos retours et désireux de répondre à vos attentes, nous avons décidé de réinventer notre marque pour vous proposer des produits toujours aussi nutritifs, mais également incroyablement gourmands et savoureux. Nous avons conservé notre objectif initial d'améliorer la santé et le bien-être, mais nous avons ajouté une touche de gourmandise pour vous offrir une expérience gustative inégalée.
        </p>
        <img
          class="hidden img-aventure-2-sm"
          src="{{ 'img-aventure-2.png' |asset_url }}"
          alt="image cannette bahwai"
          loading="lazy"
          width="auto"
          height="auto">
        <p class="mt-[30px] mb-12">
          Malgré notre nouvelle orientation gourmande, nous n'avons pas fait de compromis sur la qualité de nos ingrédients et de nos processus de fabrication. Nous continuons de choisir les meilleurs ingrédients, d'adopter des pratiques éthiques et responsables, et de nous engager envers votre santé et votre bien-être.
        </p>
      </div>
    </div>
  </div>

  <img
    src="{{ 'vague-desktop-red.svg' |asset_url }}"
    class="w-full img-center object-cover sm:block hidden mb-[-2px]"
    alt=""
    loading="lazy"
    width="auto"
    height="auto">
  <img
    src="{{ 'Vague-Mobile-red.svg' |asset_url }}"
    class=" w-full img-center object-cover sm:hidden block mb-[-2px]"
    alt=""
    loading="lazy"
    width="auto"
    height="auto">
  <div class="section-equipe bg-_red_color pb-16 mb-[-3rem]">
    <h2 class="title-white py-[40px]">L’équipe Bahwai</h2>
    <div class="items flex gap-[80px] flex-wrap justify-center text-white desktop-width">
      <div class="item flex flex-col gap-3 items-center">
        <div class="img">
          <img
            src="{{ 'profile.jpg' |asset_url }}"
            class="rounded-full w-[130px] h-[130px]"
            alt="profile"
            loading="lazy"
            width="auto"
            height="auto">
        </div>
        <h3 class="font-medium text-2xl">Toto</h3>
        <p class="italic">paste</p>
      </div>
      <div class="item flex flex-col gap-3 items-center">
        <div class="img">
          <img
            src="{{ 'profile.jpg' |asset_url }}"
            class="rounded-full w-[130px] h-[130px]"
            alt="profile"
            loading="lazy"
            width="auto"
            height="auto">
        </div>
        <h3 class="font-medium text-2xl">Toto</h3>
        <p class="italic">paste</p>
      </div>
      <div class="item flex flex-col gap-3 items-center">
        <div class="img">
          <img
            src="{{ 'profile.jpg' |asset_url }}"
            class="rounded-full w-[130px] h-[130px]"
            alt="profile"
            loading="lazy"
            width="auto"
            height="auto">
        </div>
        <h3 class="font-medium text-2xl">Toto</h3>
        <p class="italic">paste</p>
      </div>
      <div class="item flex flex-col gap-3 items-center">
        <div class="img">
          <img
            src="{{ 'profile.jpg' |asset_url }}"
            class="rounded-full w-[130px] h-[130px]"
            alt="profile"
            loading="lazy"
            width="auto"
            height="auto">
        </div>
        <h3 class="font-medium text-2xl">Toto</h3>
        <p class="italic">paste</p>
      </div>

    </div>
  </div>
</section>
<img
  src="{{ 'vague-desktop-violet.svg' |asset_url }}"
  class="w-full img-center object-cover sm:block hidden mb-[-2px]"
  alt=""
  loading="lazy"
  width="auto"
  height="auto">
<img
  src="{{ 'Vague-Mobile-violet.svg' |asset_url }}"
  class="w-full img-center object-cover sm:hidden block mb-[-2px]"
  alt=""
  loading="lazy"
  width="auto"
  height="auto">