<style>
	body{
		background-color: white !important;
	}
	#form-login{
		box-shadow: 4px 4px 3px 0px rgba(86, 17, 149, 0.15);
	}
</style>

<div class="mt-20 text-_main_color_dark">

	<div id="form-recover" class="content font-poppins hidden sm:max-w-[25rem] max-w-[100%] mx-8 sm:mx-auto">
		{%- form 'recover_customer_password' -%}
		{% assign recover_success = form.posted_successfully? %}
		<div class="field">
			<input class="input mb-4 focus:border-_red_color transition-all duration-300" type="email" value=""
				name="email" id="RecoverEmail" autocorrect="off" autocapitalize="off" autocomplete="email" {% if
				form.errors %} aria-invalid="true" aria-describedby="RecoverEmail-email-error" autofocus {% endif %}
				placeholder="Email">
		</div>
		{%- if form.errors -%}
			<p class="text-red-600 text-xl text-center">{{ form.errors.messages.form }}</p>
		{%- endif -%}

		<button type="submit" class="btn-red mb-4 py-2 text-white mx-auto mt-4">
			Récupérer
		</button>

		<p class="text-center w-[4.5rem] mx-auto text-_main_color_dark border-b border-_main_color_dark">
			<a href="#cancel" id="cancel" class="hover:text-_orange_color transition-all duration-300 text-center">
				Annuler
			</a>
		</p>
		{%- endform -%}
	</div>

	<div id="form-login" class="content font-poppins sm:max-w-[25rem] max-w-[100%] mx-8 sm:mx-auto rounded-md sm:px-[40px] px-[18px] sm:py-[40px] py-8">
		<h1 class="title mb-8">Mon compte</h1>
		{% form 'customer_login', novalidate: 'novalidate' %}
		{{ form.errors | default_errors }}
		<div id="form-connexion" class="w-full  flex flex-col items-center gap-4">
			<div class="item w-full">
				<label for="email" class="text-xs text-[#456073]">Adresse mail</label>
				<input id="email" class="input focus:border-_red_color transition-all duration-300" type="email"
					placeholder="Adresse mail" name="customer[email]" required>
			</div>
			<div class="item w-full relative">
				<label for="input-password" class="text-xs text-[#456073]">Mot de passe</label>
				<input id="input-password" class="input focus:border-_red_color transition-all duration-300"
					type="password" placeholder="Mot de passe" name="customer[password]" required>
				<div id="eye-password" class="eye absolute hover:cursor-pointer">
					<img src="{{ 'eye.svg' | asset_url }}" alt="eye" height="auto" width="auto">
				</div>
				<div id="eye-slash-password" class="hidden eye-slash absolute hover:cursor-pointer">
					<img src="{{ 'eye_slash.svg' | asset_url }}" alt="eye" height="auto" width="auto">
				</div>
			</div>
			<div class="flex flex-col items-center mt-8">
				<button type="submit" class="btn-red mb-4 py-2 text-white">Se connecter</button>
				<p class="text-_main_color_dark border-b border-_main_color_dark hover:border-_red_color">
					<a id="recover" href="#recover" class="hover:text-_red_color transition-all duration-300">Mot de
						passe oublié ?
					</a>
				</p>
			</div>
		</div>
		{% endform %}
	</div>


	<style>
		@media screen and (max-width: 640px) {
			.inscription-section {
				background-image: url('{{ 'wave_white_compte_mobile.svg' |asset_url }}');
			}
		}
	</style>
	<section style="background-image: url('{{ 'wave_white_compte.svg' |asset_url }}');"
		class="inscription-section font-poppins relative z-50 sm:h-[40rem] h-[27rem] text-_main_color_dark flex flex-col justify-center items-center gap-6 img-center mt-8 py-8 px-[10px]">
		<h2 class="title">Nouveau chez Bahwai ?
		</h2>
		<p class="text-center text-lg">Profitez de codes promo et de produits réservés aux membres en étant membre Bahwai</p>
		<p>
			<a href="{{ routes.account_register_url }}" class="btn-red">Créer mon compte
			</a>
		</p>
	</section>
</div>