<div class="mt-20 text-_main_color_dark">
  {%- form 'recover_customer_password' -%}
    {% assign recover_success = form.posted_successfully? %}
    <div class="field">
      <input
        type="email"
        value=""
        name="email"
        id="RecoverEmail"
        autocorrect="off"
        autocapitalize="off"
        autocomplete="email"
        {% if form.errors %}
          aria-invalid="true"
          aria-describedby="RecoverEmail-email-error"
          autofocus
        {% endif %}
        placeholder="{{ 'customer.login_page.email' | t }}"
      >
      <label for="RecoverEmail">
        {{ 'customer.login_page.email' | t }}
      </label>
    </div>
    {%- if form.errors -%}
      <small id="RecoverEmail-email-error" class="form__message">
        <svg aria-hidden="true" focusable="false" viewBox="0 0 13 13">
          <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
          <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
          <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
          <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
        </svg>
        {{ form.errors.messages.form }}
      </small>
    {%- endif -%}

    <button>
      {{ 'customer.login_page.submit' | t }}
    </button>

    <a href="#login">
      {{ 'customer.login_page.cancel' | t }}
    </a>
  {%- endform -%}
  
  <div class="content sm:max-w-[25rem] max-w-[100%] mx-8 sm:mx-auto">
    <h1 class="title mb-8">Mon compte</h1>
    {% form 'customer_login', novalidate: 'novalidate' %}
      {{ form.errors | default_errors }}
      <div id="form-connexion" class="w-full  flex flex-col items-center gap-4">
        <div class="item w-full">
          <input
            class="input focus:border-_orange_color transition-all duration-300"
            type="email"
            placeholder="{{ 'customer.login_page.email' | t }}"
            name="customer[email]"
            required>
        </div>
        <div class="item w-full relative">
          <input
            id="input-password"
            class="input focus:border-_orange_color transition-all duration-300"
            type="password"
            placeholder="Mot de passe"
            name="customer[password]"
            required>
          <i class="fas fa-eye absolute hover:cursor-pointer" id="eye-password"></i>
        </div>
        <div class="flex flex-col items-center mt-8">
          <button type="submit" class="btn mb-4 py-2 text-white">Se connecter</button>
          <p class="text-_main_color_dark border-b border-_main_color_dark hover:border-_orange_color">
            <a href="#recover" class="hover:text-_orange_color transition-all duration-300">Mot de passe oublié ?</a>
          </p>
        </div>
      </div>
    {% endform %}
  </div>


  <style>
    @media screen and (max-width: 640px) {
      .inscription-section {
        background-image: url('{{ 'imageconnexionsm.png' |asset_url }}');
      }
    }
  </style>
  <section style="background-image: url('{{ 'imageconnexion.png' |asset_url }}');" class="inscription-section relative z-50 sm:h-[40rem] h-[27rem] text-_main_color_dark flex flex-col justify-center items-center gap-6 img-center mt-8 py-8">
    <h2 class="title">Nouveau chez Bahwai ?
    </h2>
    <p class="text-center ">Profitez de codes promo et de produits réservés aux membres en étant membre Bahwai</p>
    <p>
      <a href="{{ routes.account_register_url }}" class="btn">Créer mon compte
      </a>
    </p>
  </section>
</div>