<style>
  @media screen and (max-width: 641px) {
    .hero-collection {
      background-image: url('{{ collection.image | image_url: height: 272 }}');
    }
  }

  .hero-collection {
    background-image: url('{{ collection.image | image_url: height: 400 }}');
  }

  @media screen and (max-width: 641px) {
    .wave-index {
      background-image: url('{{ ' Vague-Mobile.svg' |asset_url }}');
    }
  }

  @media screen and (min-width: 641px) {
    .wave-index {
      background-image: url('{{ ' Vague-desktop.svg' |asset_url }}');
    }
  }
</style>

<main
  class="main-cats">

  <div
    style="background-image: url({{ 'bannercategories.png' | asset_url }});"
    class="banner object-cover img-center sm:h-[25rem] h-[17rem]"></div>


  <section
    class="text-_main_color_dark flex flex-col mt-12 desktop-width mb-12">
    <h1
      class="title text-center mb-5">Découvrez nos collections</h1>
    <div
      class="grid sm:grid-cols-3 gap-8 mx-4">
      {%- for collection in collections -%}
        <a
          href="{{ collection.url }}"
          class="rounded-2xl overflow-hidden my-5">
          <img
            srcset="
          {%- if collection.featured_image.width >= 165 -%}
            {{ collection.featured_image | image_url: width: 165 }} 165w,{%- endif -%}
          {%- if collection.featured_image.width >= 330 -%}
            {{ collection.featured_image | image_url: width: 330 }} 330w,{%- endif -%}
          {%- if collection.featured_image.width >= 535 -%}
            {{ collection.featured_image | image_url: width: 535 }} 535w,{%- endif -%}
          {%- if collection.featured_image.width >= 750 -%}
            {{ collection.featured_image | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if collection.featured_image.width >= 1000 -%}
            {{ collection.featured_image | image_url: width: 1000 }} 1000w,{%- endif -%}
          {%- if collection.featured_image.width >= 1500 -%}
            {{ collection.featured_image | image_url: width: 1500 }} 1500w,{%- endif -%}
          {%- if collection.featured_image.width >= 3000 -%}
            {{ collection.featured_image | image_url: width: 3000 }} 3000w,{%- endif -%}
          {{ collection.featured_image | image_url }} {{ collection.featured_image.width }}w"
          src="{{ collection.featured_image | image_url: width: 1500 }}"
          sizes="
                                                                                                                                                                                      (min-width: 640px) 33.333vw,
                                                                                                                                                                                      (min-width: 768px) 25vw,
                                                                                                                                                                                      50vw"
          alt="{{ collection.title }}"
          loading="lazy"
          class="rounded-2xl w-full h-auto">
          <h3
            class="absolute">{{ collection.handle }}</h3>
        </a>
      {%- endfor -%}
    </div>
  </section>

</main>

{% schema %}
  {
    "name": "t:sections.main-list-collections.name",
    "class": "section",
    "settings": [
      {
        "type": "inline_richtext",
        "id": "title",
        "label": "t:sections.main-list-collections.settings.title.label",
        "default": "Collections"
      },
      {
        "type": "select",
        "id": "sort",
        "options": [
          {
            "value": "alphabetical",
            "label": "t:sections.main-list-collections.settings.sort.options__1.label"
          },
          {
            "value": "alphabetical_reversed",
            "label": "t:sections.main-list-collections.settings.sort.options__2.label"
          },
          {
            "value": "date_reversed",
            "label": "t:sections.main-list-collections.settings.sort.options__3.label"
          },
          {
            "value": "date",
            "label": "t:sections.main-list-collections.settings.sort.options__4.label"
          }, {
            "value": "products_high",
            "label": "t:sections.main-list-collections.settings.sort.options__5.label"
          }, {
            "value": "products_low",
            "label": "t:sections.main-list-collections.settings.sort.options__6.label"
          }
        ],
        "default": "alphabetical",
        "label": "t:sections.main-list-collections.settings.sort.label"
      },
      {
        "type": "select",
        "id": "image_ratio",
        "options": [
          {
            "value": "adapt",
            "label": "t:sections.main-list-collections.settings.image_ratio.options__1.label"
          }, {
            "value": "portrait",
            "label": "t:sections.main-list-collections.settings.image_ratio.options__2.label"
          }, {
            "value": "square",
            "label": "t:sections.main-list-collections.settings.image_ratio.options__3.label"
          }
        ],
        "default": "adapt",
        "label": "t:sections.main-list-collections.settings.image_ratio.label",
        "info": "t:sections.main-list-collections.settings.image_ratio.info"
      },
      {
        "type": "range",
        "id": "columns_desktop",
        "min": 1,
        "max": 5,
        "step": 1,
        "default": 3,
        "label": "t:sections.main-list-collections.settings.columns_desktop.label"
      }, {
        "type": "header",
        "content": "t:sections.main-list-collections.settings.header_mobile.content"
      }, {
        "type": "select",
        "id": "columns_mobile",
        "options": [
          {
            "value": "1",
            "label": "t:sections.main-list-collections.settings.columns_mobile.options__1.label"
          }, {
            "value": "2",
            "label": "t:sections.main-list-collections.settings.columns_mobile.options__2.label"
          }
        ],
        "default": "2",
        "label": "t:sections.main-list-collections.settings.columns_mobile.label"
      }
    ]
  }
{% endschema %}