<section class="section-one-page">
    <div class="content">
        <div class="head desktop-width">
            <div class="flex justify-center bg-_main_color_dark py-3 sm:px-[40px] px-[11px] rounded-md">
                <a href="/" title="BahWai">
                    <img src="{{ '300DPI.png' | asset_url }}" alt="BahWai" class="w-[54px]" loading="lazy" width="auto" height="auto">
                </a>
            </div>

            <div class="my-[80px]">
                <h1 class="uppercase text-[#1F1F1F] sm:text-[80px] text-[24px] font-extrabold mb-6 text-center">produits cbd MADE in france</h1>
                <p class="text-center text-[#565656] mb-8">
                    Notre mission, vous aider à adopter une alimentation cool, adaptée à votre mode de vie et plus respectueuse de votre santé. 
                </p>
                <p class="flex justify-center">
                    <a href="{{ pages.contact.url }}" class="btn font-semibold text-white">Contactez-nous</a>
                </p>
            </div>
        </div>
        <div class="body">
            <div class="content">
                <div class="imgs">
                    <img src="{{ 'one-page-hero.png' |asset_url }}" class="w-full" alt="hero">
                    <img src="{{ 'hero-bottom.png' |asset_url }}" class="w-full" alt="hero-bttom">
                </div>
                <div class="description my-[80px] sm:px-[48px] px-[7px]">
                    <div class="desc-content">
                        <h2 class="sm:text-[48px] text-[23px] font-extrabold mb-[18px]">Pourquoi une boisson au CBD ?</h2>
                        <p class="uppercase text-[#565656] font-light text-lg ">
                            Les boissons CBD Bahwai, saine et gourmande procurent de nombreux bienfaits. Le CBD infusé dans les boissons, favorise :
                        </p>
                        <ul class="text-[#565656] my-5 list-disc ms-6">
                            <li>C’est vegan et français !</li>
                            <li class="font-medium">Bye bye les courbatures : <span class="font-normal">grâce aux vertues myorelaxante du CBD, tes muscles sont détendus et moins lourds</span></li>
                            <li class="font-medium">Récupération musculaire : <span class="font-normal">le CBD contribue à améliorer la vitesse et la qualité de récupération de tes muscles. De quoi repartir rapidement au charbon !</span></li>
                            <li class="font-medium">Moins de douleurs musculaires : <span class="font-normal">
                                les ingrédients contenus dans notre boisson contribuent à réduire les sensations de douleurs musculaires, souvent ressenti après une grosse séance ou encore à force de rester assis derrière ton bureau !</span>
                            </li>
                            <li class="font-medium">Niveau de stress = Zéro : <span class="font-normal">le CBD aide à réduire le stress à l’origine de l’oxydation des cellules et d’une peau terne</span></li>
                            <li class="font-medium">Sommeil récupérateur pour un réveil frais  <span class="font-normal">et une énergie à 100 % … toute la journée !</span></li>
                        </ul>
                        <p class="text-[#565656]">Chaque canette Bahwai contient <span class="font-medium">20mg de CBD</span></p>
                    </div>
                </div>
                <div class="imgs">
                    <img src="{{ 'gumies.png' |asset_url }}" class="w-full" alt="gumies">
                    <img src="{{ 'fruits.png' |asset_url }}" class="w-full" alt="fruits">
                </div>
            </div>
        </div>
        <style>
            
            @media screen and (max-width: 641px) {
                .foot-one-page {
                    background-image: url('{{ 'BG-Mobile.png'|asset_url }}');
                }
            }

            @media screen and (min-width: 641px) {
                .foot-one-page {
                    background-image: url('{{ 'BG-Desktop.png'|asset_url }}');
                }
            }
        </style>
        <div class="foot-one-page img-center">
            <div class="content sm:px-[140px] px-8 pb-[48px] desktop-width">
                <h3 class="text-white sm:text-[48px] text-[23px] text-center py-[48px] font-extrabold">Retrouvez-nous</h3>
                <div class="foot-content text-_main_color_dark flex flex-wrap gap-[75px] items-stretch">
                    <div class="foot-item">
                        <h5 class="font-bold ">60 - OISE</h5>
                        <div class="flex flex-col gap-2">
                            <p class="font-normal text-lg">INTERMARCHE - SELIS</p>
                            <p class="font-light text-lg">CENTRE COMMERCIAL VILLEVERT, 60300</p>
                        </div>
                    </div>
                    <div class="foot-item">
                        <h5 class="font-bold ">75 - PARIS</h5>
                        <div class="">
                            <p class="font-normal text-lg">CARREFOUR EXPRESS</p>
                            <p class="font-light text-lg">28 rue des Batignolles, 75017</p>
                        </div>
                        <div class="flex flex-col gap-2">
                            <p class="font-normal text-lg">G20</p>
                            <p class="font-light text-lg">17 rue Lepic, 75017</p>
                        </div>
                    </div>
                    <div class="foot-item">
                        <h5 class="font-bold ">78 - YVELINES</h5>
                        <div class="flex flex-col gap-2">
                            <p class="font-normal text-lg">INTERMARCHÉ - ELANCOURT</p>
                            <p class="font-light text-lg">RUE DES FONDS DES ROCHES, 78990</p>
                        </div>
                        <div class="flex flex-col gap-2">
                            <p class="font-normal text-lg">LECLERC - ACHERES</p>
                            <p class="font-light text-lg">3 AVENUE W.A MOZART, 78260</p>
                        </div>
                        <div class="flex flex-col gap-2">
                            <p class="font-normal text-lg">LECLERC - CARRIERES SOUS POISSY</p>
                            <p class="font-light text-lg">485 ROUTE D'ANDRESY, 78955</p>
                        </div>
                        <div class="flex flex-col gap-2">
                            <p class="font-normal text-lg">LECLERC - BOIS D'ARCY</p>
                            <p class="font-light text-lg">11 AVENUE JEAN JAURES, 78390</p>
                        </div>
                    </div>
                    <div class="foot-item">
                        <h5 class="font-bold ">92 - Hauts-de-Seine</h5>
                        <div class="flex flex-col gap-2">
                            <p class="font-normal text-lg">LECLERC - NANTERRE</p>
                            <p class="font-light text-lg">99 RUE PAUL VAILLANT COUTURIER, 92000</p>
                        </div>
                        <div class="flex flex-col gap-2">
                            <p class="font-normal text-lg">U EXPRESS - VILLE D'AVRAY</p>
                            <p class="font-light text-lg">9 RUE DE SEVRES, 92410</p>
                        </div>
                        <div class="flex flex-col gap-2">
                            <p class="font-normal text-lg">INTERMARCHE - SAINT CLOUD</p>
                            <p class="font-light text-lg">54 RUE DU 18 JUIN 1940, 92210</p>
                        </div>
                    </div>
                    <div class="foot-item">
                        <h5 class="font-bold ">93 - Seine-Saint-Denis</h5>
                        <div class="flex flex-col gap-2">
                            <p class="font-normal text-lg">LECLERC - EPINAY SUR SEINE</p>
                            <p class="font-light text-lg">159 ROUTE DE SAINT LEU, 93800</p>
                        </div>
                    </div>
                    <div class="foot-item">
                        <h5 class="font-bold ">94 - VAL DE MARNE</h5>
                        <div class="flex flex-col gap-2">
                            <p class="font-normal text-lg">LECLERC - VITRY SUR SEINE</p>
                            <p class="font-light text-lg">43-45 QUAI JULES GUESDE, 94400</p>
                        </div>
                    </div>
                    <div class="foot-item">
                        <h5 class="font-bold ">95 - Val-d'Oise</h5>
                        <div class="flex flex-col gap-2">
                            <p class="font-normal text-lg">LECLERC - CERGY</p>
                            <p class="font-light text-lg">48 AVENUE DE LA PLAINE DES SPORTS, 95800</p>
                        </div>
                        <div class="flex flex-col gap-2">
                            <p class="font-normal text-lg">LECLERC - FRANCONVILLE</p>
                            <p class="font-light text-lg">362 RUE DU GENERAL LECLERC, 95130</p>
                        </div>
                        <div class="flex flex-col gap-2">
                            <p class="font-normal text-lg">LECLERC - SAINT OUEN L'AUMONE</p>
                            <p class="font-light text-lg">27 RUE DES EPLUCHES, 95130</p>
                        </div>
                        <div class="flex flex-col gap-2">
                            <p class="font-normal text-lg">LECLERC EXPRESS - MAGNY EN VEXIN</p>
                            <p class="font-light text-lg">ROUTE DE MANTES, 95420</p>
                        </div>
                        <div class="flex flex-col gap-2">
                            <p class="font-normal text-lg">SUPER U - ECOUEN</p>
                            <p class="font-light text-lg">56 Rue de la Libération, 95440</p>
                        </div>
                        <div class="flex flex-col gap-2">
                            <p class="font-normal text-lg">LE PETIT CASINO - CERGY VILLAGE</p>
                            <p class="font-light text-lg">19 Rue Nationale, 95000</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>