<section class="section-one-page">
    <div class="content">
        <div class="head desktop-width">
            <div class="flex justify-center bg-_main_color_dark py-3">
                <a href="/" title="BahWai">
                    <img src="{{ '300DPI.png' | asset_url }}" alt="BahWai" class="w-[54px]" loading="lazy" width="auto" height="auto">
                </a>
            </div>

            <div class="my-[80px]">
                <h1 class="uppercase text-[#1F1F1F] sm:text-[80px] text-[24px] font-extrabold mb-6 text-center">produits cbd MADE in france</h1>
                <p class="text-center text-[#565656] mb-8">
                    Notre mission, vous aider à adopter une alimentation cool, adaptée à votre mode de vie et plus respectueuse de votre santé. 
                </p>
                <p>
                    <a href="{{ pages.contact.url }}" class="btn font-semibold text-white">Contactez-nous</a>
                </p>
            </div>
        </div>
        <div class="body">
            <div class="content">
                <div class="imgs">
                    <img src="{{ 'one-page-hero.png' |asset_url }}" class="w-full" alt="hero">
                    <img src="{{ 'hero-bottom.png' |asset_url }}" class="w-full" alt="hero-bttom">
                </div>
                <div class="description my-[80px] sm:px-[48px] px-[7px]">
                    <div class="desc-content">
                        <h2 class="sm:text-[48px] text-[23px] font-extrabold mb-[18px]">Pourquoi une boisson au CBD ?</h2>
                        <p class="uppercase text-[#565656] font-light text-lg ">
                            Les boissons CBD Bahwai, saine et gourmande procurent de nombreux bienfaits. Le CBD infusé dans les boissons, favorise :
                        </p>
                        <ul class="text-[#565656] mb-5">
                            <li>C’est vegan et français !</li>
                            <li class="font-medium">Bye bye les courbatures : <span class="font-normal">grâce aux vertues myorelaxante du CBD, tes muscles sont détendus et moins lourds</span></li>
                            <li class="font-medium">Récupération musculaire : <span class="font-normal">le CBD contribue à améliorer la vitesse et la qualité de récupération de tes muscles. De quoi repartir rapidement au charbon !</span></li>
                            <li class="font-medium">Moins de douleurs musculaires : <span class="font-normal">
                                les ingrédients contenus dans notre boisson contribuent à réduire les sensations de douleurs musculaires, souvent ressenti après une grosse séance ou encore à force de rester assis derrière ton bureau !</span>
                            </li>
                            <li class="font-medium">Niveau de stress = Zéro : <span class="font-normal">le CBD aide à réduire le stress à l’origine de l’oxydation des cellules et d’une peau terne</span></li>
                            <li class="font-medium">Sommeil récupérateur pour un réveil frais  <span class="font-normal">et une énergie à 100 % … toute la journée !</span></li>
                        </ul>
                        <p>Chaque canette Bahwai contient <span class="font-medium">20mg de CBD</span></p>
                    </div>
                </div>
                <div class="imgs">
                    <img src="{{ 'gumies.png' |asset_url }}" class="w-full" alt="gumies">
                    <img src="{{ 'fruits.png' |asset_url }}" class="w-full" alt="fruits">
                </div>
            </div>
        </div>

        <div class="foot bg-[url('{{ BG-Desktop.png |asset_url }}')]">
            <div class="content desktop-width">
                <h3 class="text-white sm:text-[48px] text-[23px] text-center my-[48px]">Retrouvez-nous</h3>
            </div>
        </div>
    </div>
</section>