<div id="photo-carousel">
    <div class="relative swiper swiper-nouveautes sm:px-8">
        <div class="items-stretch swiper-wrapper text-_main_color_dark ">
            <div class="swiper-slide">
                <div class="img w-[170px]">
                    <img class="w-full" src="{{ 'instagram 3.png' |  asset_url }}" alt="image carousel">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img w-[170px]">
                    <img class="w-full" src="{{ 'instagram 3.png' |  asset_url }}" alt="image carousel">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img w-[170px]">
                    <img class="w-full" src="{{ 'instagram 3.png' |  asset_url }}" alt="image carousel">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img w-[170px]">
                    <img class="w-full" src="{{ 'instagram 3.png' |  asset_url }}" alt="image carousel">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img w-[170px]">
                    <img class="w-full" src="{{ 'instagram 3.png' |  asset_url }}" alt="image carousel">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img w-[170px]">
                    <img class="w-full" src="{{ 'instagram 3.png' |  asset_url }}" alt="image carousel">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img w-[170px]">
                    <img class="w-full" src="{{ 'instagram 3.png' |  asset_url }}" alt="image carousel">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img w-[170px]">
                    <img class="w-full" src="{{ 'instagram 3.png' |  asset_url }}" alt="image carousel">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img w-[170px]">
                    <img class="w-full" src="{{ 'instagram 3.png' |  asset_url }}" alt="image carousel">
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
"name": "Photos carousel",
"class": "section",
"settings": [
{
"type": "text",
"id": "titre",
"label": "Titre de la section",
"default": "Nos nouveautés raffraichissantes"
}
]
}
{% endschema %}