<div id="photo-carousel">
    <div class="relative swiper swiper-nouveautes sm:px-8">
        <div class="items-stretch swiper-wrapper text-_main_color_dark ">
            <div class="swiper-slide">
                <div class="img w-[170px]">
                    <img class="w-full" src="{{ section.settings.image_1| image_url: width: 500 }}"
                        alt="image carousel">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img w-[170px]">
                    <img class="w-full" src="{{ section.settings.image_1| image_url: width: 500 }}"
                        alt="image carousel">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img w-[170px]">
                    <img class="w-full" src="{{ section.settings.image_1| image_url: width: 500 }}"
                        alt="image carousel">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img w-[170px]">
                    <img class="w-full" src="{{ section.settings.image_1| image_url: width: 500 }}"
                        alt="image carousel">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img w-[170px]">
                    <img class="w-full" src="{{ section.settings.image_1| image_url: width: 500 }}"
                        alt="image carousel">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img w-[170px]">
                    <img class="w-full" src="{{ section.settings.image_1| image_url: width: 500 }}"
                        alt="image carousel">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img w-[170px]">
                    <img class="w-full" src="{{ section.settings.image_1| image_url: width: 500 }}"
                        alt="image carousel">
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
"name": "Photos carousel",
"class": "section",
"settings": [
{
"type": "text",
"id": "titre",
"label": "Titre de la section",
"default": "Nos nouveautés raffraichissantes"
},
{
"type": "image_picker",
"id": "image_1",
"label": "Image 1"
},
{
"type": "image_picker",
"id": "image_2",
"label": "Image 2"
},
{
"type": "image_picker",
"id": "image_3",
"label": "Image 3"
},
{
"type": "image_picker",
"id": "image_4",
"label": "Image 4"
},
{
"type": "image_picker",
"id": "image_5",
"label": "Image 5"
}
]
}
{% endschema %}