<div class="what-else-content-section bg-_main_color_light sm:pb-[192px] pb-[107px] sm:px-0 px-[24px]">
    <div class="content-1 bg-_orange_color relative z-10 rounded-lg mt-[48px]">
      <h2 class="title-white pt-8">{{ section.settings.title }} </h2>
      <div class="hidden sm:flex gap-8 justify-center  flex-wrap mt-[50px] text-white pb-[214px]">
        <div class="else-item  ">
            <div class="flex gap-4">
              <div class="img">
                <img src="{{ 'else1.svg'|  asset_url }}" alt="Production Eco-responsable" height="auto" width="auto">
              </div>
              <p class="text-center sm:text-base text-xs">Production Eco-responsable <br>
                RainForest Alliance</p>
            </div>
        </div>
        <div class="else-item flex gap-4">
            <div class="img">
              <img src="{{ 'else2.svg'|  asset_url }}" alt="Cacao issu du Commerce" height="auto" width="auto">
            </div>
            <p class="text-center sm:text-base text-xs">
                          Cacao issu du Commerce <br>
              Equitable Fairtrade
            </p>
        </div>
        <div class="else-item flex gap-4">
            <div class="img">
              <img src="{{ 'else3.svg'|  asset_url }}" alt="Fabriqué en France" height="auto" width="auto">
            </div>
            <p class="text-center sm:text-base text-xs ">
              Fabriqué en France
            </p>
        </div>
        <div class="else-item flex gap-4">
            <div class="img">
              <img src="{{ 'else4.svg'|  asset_url }}" alt="Sans huile de palme" height="auto" width="auto">
            </div>
            <p class="text-center sm:text-base text-xs">
              Sans huile de palme
            </p>
        </div>
        <div class="else-item flex gap-4">
            <div class="img">
              <img src="{{ 'else5.svg'|  asset_url }}" alt="Sans gluten" height="auto" width="auto">
            </div>
            <p class="text-center sm:text-base text-xs">
              Sans gluten
            </p>
        </div>
      </div>
      <div class="sm:hidden flex flex-col gap-[10px] justify-center items-center mt-4 text-white pb-[100px]">
        <div class="flex justify-between w-full px-1">
          <div class="else-item flex">
              <div class="img">
                <img src="{{ 'else5.svg'|  asset_url }}" alt="Sans gluten" height="auto" width="auto">
              </div>
              <p class="text-center sm:text-base text-xs w-[40px]">
                Sans gluten
              </p>
          </div>
          <div class="else-item flex">
              <div class="img">
                <img src="{{ 'else4.svg'|  asset_url }}" alt="Sans huile de palme" height="auto" width="auto">
              </div>
              <p class="sm:text-base text-xs w-[69px]">
                Sans huile de palme
              </p>
          </div>
          <div class="else-item flex gap-[10px]">
              <div class="img">
                <img src="{{ 'else3.svg'|  asset_url }}" alt="Fabriqué en France" height="auto" width="auto">
              </div>
              <p class="sm:text-base text-xs w-[70px]">
                Fabriqué en France
              </p>
          </div>
        </div>
        <div class="flex ps-[10px] mt-[10px] gap-1">
          <div class="else-item  ">
              <div class="flex gap-[3px]">
                <div class="img">
                  <img src="{{ 'else1.svg'|  asset_url }}" alt="Production Eco-responsable" height="auto" width="57px">
                </div>
                <p class="sm:text-base text-[10px]">Production Eco-responsable
                  RainForest Alliance</p>
              </div>
          </div>
          <div class="else-item flex gap-1">
              <div class="img">
                <img src="{{ 'else2.svg'|  asset_url }}" alt="Cacao issu du Commerce" height="auto" width="57px">
              </div>
              <p class="sm:text-base text-[10px]">
                            Cacao issu du Commerce 
                Equitable Fairtrade
              </p>
          </div>
        </div>
      </div>
      <div class="courb-form absolute top-0 left-0 z-[-1] w-full h-full">
        <style>
            .courb-what{
              background-image: url('{{ 'form_what_else.svg' |  asset_url }}');
            }
            @media screen and (max-width: 768px) {
                .courb-what{
                background-image: url('{{ 'form_what_else_mobile.svg' |  asset_url }}');
              }
            }
        </style>
        <div class="courb-what rounded-lg bg-cover bg-no-repeat w-full h-full"></div>
      </div>
      <div class="sachet-chocolat absolute sm:bottom-[-142px] bottom-[-103px] sm:left-[40%] left-[31%]">
        <img class="sm:w-full w-[147px]"  src="{{ 'sachet_chocolat_what_else.png' |  asset_url }}" alt="chocolat" height="auto" width="100%">
      </div>
    </div>
</div>

{% schema %}
    {
      "name": "Qui sommes nous section",
      "tag": "section",
      "class": "qui-sommes-nous-section",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Titre",
          "default": "WHAT ELSE ?"
        }
      ]
    }
{% endschema %}