<div class="what-else-content-section bg-_main_color_light sm:pb-[192px] pb-[107px]">
    <div class="content-1 bg-_orange_color relative z-10 rounded-lg mt-[48px]">
      <h2 class="title-white pt-8">WHAT ELSE ?</h2>
      <div class="flex gap-8 justify-center flex-wrap mt-[50px] text-white pb-[214px]">
        <div class="else-item flex gap-4 ">
            <div class="img">
              <img src="{{ 'else1.svg'|  asset_url }}" alt="Production Eco-responsable" height="auto" width="auto">
            </div>
            <p class="text-center">Production Eco-responsable <br>
              RainForest Alliance</p>
        </div>
        <div class="else-item flex gap-4">
            <div class="img">
              <img src="{{ 'else2.svg'|  asset_url }}" alt="Cacao issu du Commerce" height="auto" width="auto">
            </div>
            <p class="text-center">
                          Cacao issu du Commerce <br>
              Equitable Fairtrade
            </p>
        </div>
        <div class="else-item flex gap-4">
            <div class="img">
              <img src="{{ 'else3.svg'|  asset_url }}" alt="Fabriqué en France" height="auto" width="auto">
            </div>
            <p class="text-center">
              Fabriqué en France
            </p>
        </div>
        <div class="else-item flex gap-4">
            <div class="img">
              <img src="{{ 'else4.svg'|  asset_url }}" alt="Sans huile de palme" height="auto" width="auto">
            </div>
            <p class="text-center">
              Sans huile de palme
            </p>
        </div>
        <div class="else-item flex gap-4">
            <div class="img">
              <img src="{{ 'else5.svg'|  asset_url }}" alt="Sans gluten" height="auto" width="auto">
            </div>
            <p class="text-center">
              Sans gluten
            </p>
        </div>
      </div>
      <div class="courb-form absolute top-0 left-0 z-[-1] w-full">
        <img class="rounded-lg" src="{{ 'form_what_else.svg' |  asset_url }}" alt="courb-form" height="auto" width="100%">
      </div>
      <div class="sachet-chocolat absolute bottom-[-142px] left-[42%]">
        <img  src="{{ 'sachet_chocolat.svg' |  asset_url }}" alt="chocolat" height="auto" width="100%">
      </div>
    </div>
</div>


{% schema %}
    {
      "name": "Qui sommes nous section",
      "tag": "section",
      "class": "qui-sommes-nous-section",
      "settings": [
        
      ]
    }
{% endschema %}